.container#patronaje1

    .jumbotron.bg-white.shadow.mt-6
        .header-ecored.mt-0
            h1 Patronaje básico
        .row.align-items-center
            .col-12.col-md-8
                p Para iniciar con los trazos de prendas desde los básicos en prendas inferiores, #[b la línea de aplome o línea base de construcción es la altura de cadera o tiro], también se debe tener en cuenta que, en los trazos de prendas desde los #[b básicos en prendas superiores, la línea de aplome o la línea base de construcción es la línea de sisa o la altura de cadera].
                p Las medidas implementadas o referenciadas en los videos son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto #[b depende del tipo de trazo, elementos o incluso del tipo de lápiz que se trabaje], lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.
                p.mb-0 Se debe tener en cuenta que a nivel comercial #[b existen diversos nombres para cada una de las siluetas y/o formas de las prendas]; sin embargo, para este aprendizaje se trabajará desde la parte funcional sin especificar los nombres comerciales.
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img1.png", style="max-width: 80%").img-fluid.py-4
        .row.align-items-center.mt-0.mt-md-4
            .col-3.text-center
                img(src="assets/images/pages/ilustraciones/img2.png", style="max-width: 100%").img-fluid
            .col-9
                p.mb-0 En prendas superiores con el fin de referenciar y contextualizar la implementación, recuerde que, #[b aunque en el manual se identifica un plano separado se sugiere trabajar siempre en plano unido], con el propósito de validar medidas como largos o proporciones referenciados en el diseño, como es el caso de la camisa y la chaqueta sastre.
        .hr
        .header-ecored
            h1 1. Patronaje básico de línea infantil
        p Para la implementación y modificación de básicos es importante tener claridad de cada uno de los conceptos de patronaje como medidas, pasos, elementos y vocabulario técnico, lo cual se irá implementando en el desarrollo de los trazos, moldes o planos, lo que a futuro permitirá realizar patrones y producción de prendas de vestir.
        p En este punto, para la implementación de los básicos se debe tomar como referencia los pasos del patronaje de acuerdo con la metodología #[b SENA].
        .row.mt-5.align-items-center.justify-content-center
            .col-12.col-md-5.bg-color1
                h2 Pasos del patronaje – Implementación de básicos y desarrollo de modelos
                ol
                    li.mb-3 Básicos.
                    li.mb-3 Interpretación.
                        p.mb-0.mt-3 Desahogos – Contorno. Largos y anchos.
                        p.mb-0 Sistema de ajuste.
                        p.mb-0 Sistema de cierre.
                    li.mb-3 Complementos.
                    li.mb-3 Señalización.
                    li.mb-0 Despiece.
            .col-12.col-md-5.text-center.mt-4.mt-md-0
                img(src="assets/images/pages/ilustraciones/img3.png", style="max-width: 100%").img-fluid
        #11
        .header-ecored
            h2 1.1 Cómo hacer un patrón a escala
        p En términos de patronaje se puede trabajar a menor escala, cuando se habla de escala consiste en tomar un molde de cualquier línea y trazarlo en un tamaño menor o mayor, en este caso para la optimización de recursos se sugiere trabajar en escalas más pequeñas, si bien cuando se inicia a trabajar o se está teniendo una inmersión en patronaje se sugiere trabajar a escala real, en algunos casos por optimización se facilita trabajar en tamaños más pequeños; sin embargo, es importante aclarar que lo ideal o la sugerencia siempre será trabajar a escala real.
        .row.mt-5
            .col-2
                img(src="assets/images/pages/ilustraciones/img2.svg", style="max-width: 100%:; position: absolute; margin-left: 37%; z-index: 2; margin-top: -10%").img-fluid
            .col-10.bg-color2
                p.mb-0 Las escalas más comunes en patronaje son a #[b mitad (1/2) de escala o cuarto (1/4) de escala], en el mercado se encuentran juegos de reglas con el tamaño o las escalas referenciadas; pero, no solo se puede trabajar en esas dos escalas, es decir, #[b en algunos casos se trabaja a quinta (1/5) o a sexta (1/6) escala].
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/m2Fs4_FwmoE', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #12
        .header-ecored
            h2 1.2 Implementación de básico superior – Desarrollo de prendas superiores
        .row.justify-content-end
            .col-11
                .row
                    .col-4
                        h3.txt-deco1 1. Básicos:
                p En primera instancia se debe contemplar tener la base o los básicos con los que se va a trabajar, partiendo de que los básicos se dividen en:
                .row.align-items-center
                    .col-12.col-md-8
                        p #[b Base superior – Base inferior de falda y pantalón]
                        p En la metodología SENA estos son los únicos puntos de partida para hacer cualquier análisis, trazo, molde o plano de una prenda. Los básicos deben estar separados (delantero – posterior) y sin ningún tipo de alteración, preferiblemente en un material resistente como el cartón cartulina, cartulina o acetato.
                    .col-12.col-md-4.text-center
                        img(src="assets/images/pages/ilustraciones/img4.png", style="max-width: 100%").img-fluid
                .row.mt-5
                    .col-4
                        h3.txt-deco1 2. Interpretación:
                p Para la interpretación se deben tener en cuenta varios puntos de referencia:
                .row
                    .col-12.bg-color3
                        p.mb-0 #[b • Desahogos:] Los desahogos se trabajan por contornos, largos y anchos. Las medidas anatómicas corresponden a la base o básico, este punto de partida no tiene incrementos u holguras para el desarrollo de prendas, es decir, que dependiendo de la funcionabilidad de la prenda o del diseño se debe incrementar medidas que funcionan como holguras o desahogos.
                img(src="assets/images/pages/ilustraciones/img5.png", style="max-width: 100%").img-fluid.img-a
                .row
                    .col-12.bg-color3
                        p.mb-0 #[b • Desahogo por contorno:] Los desahogos por contorno corresponden a todo incremento de medidas que se den por contorno de pecho, contorno de cintura y contorno de cadera, únicamente se referencian estos 3 contornos porque son los que abrazan o conforman los contornos más protuberantes del cuerpo. En las prendas superiores, el desahogo se trabaja a partir del contorno de pecho, es decir, en plano sobre línea de profundidad de sisa.
                img(src="assets/images/pages/ilustraciones/img6.png", style="max-width: 100%").img-fluid.img-a
                .row
                    .col-12.bg-color3
                        p #[b • Desahogo por largo:] los desahogos por largos corresponden a:
                        .list.align-items-star.ml-4
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p.mb-0 Largo de la prenda, en la metodología SENA, los largos de las prendas se trabajan siempre por costado, tomando como referencia el punto de cintura costado, esto es, si se va a trabajar el largo de un vestido, el largo se define desde el punto de cintura costado hacia las extremidades inferiores; debido a la toma de medidas y a las referencias anatómicas del cuadro de tallas.
                img(src="assets/images/pages/ilustraciones/img7.png", style="max-width: 100%").img-fluid.img-a
                row
                    .col-12.bg-color3
                        .list.align-items-star.ml-4
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p.mb-0 Desahogo por línea de profundidad de sisa o por sisa, estos desahogos corresponden a la holgura que se debe trabajar por cavidad axilar, es decir, al dar o asignar holgura por contorno, el desahogo o la holgura por sisa debe ser proporcional. (Siempre el punto de referencia para la asignación de desahogos corresponde al desahogo por contorno)
                img(src="assets/images/pages/ilustraciones/img8.png", style="max-width: 100%").img-fluid.img-a
                .row
                    .col-12.bg-color3
                        p #[b • Desahogo por ancho:] Los desahogos corresponden a:
                        .list.align-items-star.ml-4
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p.mb-0 #[b Desahogo por hombro:] los desahogos suelen ser incrementos que van o corresponden a la misma proporción de la holgura inicial, es decir, los desahogos por hombro corresponden al incremento que se aplica al desahogo por contorno.
                img(src="assets/images/pages/ilustraciones/img9.png", style="max-width: 100%").img-fluid.img-a
                row
                    .col-12.bg-color3
                        .list.align-items-star.ml-4
                            .list__item
                                .list__item__icon
                                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
                            .list__txt
                                p.mb-0 #[b Desahogo por ancho de pecho y ancho de espalda:] los desahogos suelen ser incrementos que van o corresponden a la misma proporción de la holgura inicial, esto es, los desahogos por anchos corresponden al incremento que se aplica al desahogo por contorno.
                img(src="assets/images/pages/ilustraciones/img10.png", style="max-width: 100%").img-fluid.img-a
                p Los escotes también se modifican y pueden entrar dentro de la categorización de un desahogo; sin embargo, manejan una terminología y explicación diferente.
                .row.pt-4
                    .col-12.bg-color3
                        p.mb-0 #[b • Sistema de ajuste:] son todos los ajustes (pinza o corte) que se le dan a la prenda, en este caso para una prenda infantil no se trabajará o enfocará a sistemas de ajuste, los sistemas de ajuste se trabajarán en la línea femenina, para tener una mejor comprensión y aprovechamiento de las pinzas.
                img(src="assets/images/pages/ilustraciones/img11.png", style="max-width: 100%").img-fluid.img-a
                .row
                    .col-12.bg-color3
                        p.mb-0 #[b • Sistema de cierre:] este punto es lo que permite que la prenda sea funcional, es decir, es lo que hace que la prenda abra o cierre según la tridimensión del cuerpo, en sistemas de cierre aplican: cremalleras, botones, broches, gafetes, acordonados, encauchados y demás, se debe tener en cuenta que cada uno de los sistemas de cierre tienen especificaciones en el trazo, plano o patrón.
                img(src="assets/images/pages/ilustraciones/img12.png", style="max-width: 100%").img-fluid.img-a
                .row.mt-5
                    .col-4
                        h3.txt-deco1 3. Complementos:
                p Toda interpretación, trazo, plano o prenda se compone de una serie de complementos como bolsillos, cuellos, mangas, cortes, puños y demás, en esta parte se tiene en cuenta el trazo de las piezas que complementan o conforman el diseño de la prenda.
                img(src="assets/images/pages/ilustraciones/img13.png", style="max-width: 100%").img-fluid.img-a
                .row.mt-5
                    .col-4
                        h3.txt-deco1 4.Señalización:
                p Identificar cada una de las piezas con las especificaciones del diseño o de la prenda. Toda interpretación, trazo, plano o prenda se compone de una serie de complementos como bolsillos, cuellos, mangas y cortes.
                .row.mt-5
                    .col-4
                        h3.txt-deco1 5. Despiece:
                p Separar cada una de las piezas anteriormente señalizadas y aumentar el margen de costura según las especificaciones técnicas.
                p Con el fin de apropiar e identificar cada uno de los pasos anteriormente mencionados se dará inicio al trazo de una prenda superior, la cual irá cambiando su categorización a medida que se avance, es decir, en este primer trazo se hará el trazo de una especie de chaleco, el cual irá evolucionando a medida que se avance con las mangas, cuellos, puños y demás, hasta obtener una camisa debidamente señalizada y despiezada; es importante que tenga claro que este primer paso es el punto de partida para continuar con los siguientes.
                img(src="assets/images/pages/ilustraciones/img14.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/zilfDUXi62E', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #13
        .header-ecored
            h2 1.3 Trazo de cabezas mangas – Análisis de manga
        p Cuando se habla de manga, básicamente se entiende o se identifica como una pieza circular que cubre el brazo; sin embargo, existen diferentes tipos de puntos a tener en cuenta:
        .row.mt-4.align-items-center
            .col-2.text-right
                img(src="assets/images/pages/ilustraciones/img3.svg", style="max-width: 100%; position: absolute; margin: -40px; z-index: 2").img-fluid
            .col-10.bc-color4
                p.mb-0 #[b Largo de manga:] el largo de manga anatómico es aquel que va desde el punto de acromio hasta la muñeca, se debe tener en cuenta que, sin importar el diseño, largo o forma del cuerpo de la manga, siempre se debe partir desde el largo anatómico.
        .row.mt-4.align-items-center
            .col-2.text-right
                img(src="assets/images/pages/ilustraciones/img3.svg", style="max-width: 100%; position: absolute; margin: -40px; z-index: 2").img-fluid
            .col-10.bc-color4
                p.mb-0 #[b Altura o cabeza de manga:] cuando se habla de cabeza de manga se identifican diferentes tipos de medidas, se puede trabajar con medida de cuadro de tallas, medida deducida o estandarizada. Se debe tener en cuenta que el largo de manga siempre será el mismo, sin importar qué tipo de prenda o cabeza de manga se implemente.
        .row.mt-4.align-items-center
            .col-2.text-right
                img(src="assets/images/pages/ilustraciones/img3.svg", style="max-width: 100%; position: absolute; margin: -40px; z-index: 2").img-fluid
            .col-10.bc-color4
                p #[b Comportamiento de cabeza de manga:] entre más larga sea la altura de cabeza de manga otorgará menor movimiento sobre el cuerpo = incomodidad, pero mayor estructura, esta descripción corresponde a las prendas que van ajustadas o con la horma del cuerpo.
                p.mb-0 Entre más corta sea la altura de cabeza de manga otorgará mayor movimiento sobre el #[b cuerpo = comodidad], pero menor estructura, esta descripción corresponde a las prendas que van holgadas o desestructuradas sobre el cuerpo.
        p.mt-5 Básicamente si esta descripción se divide o se categoriza en prendas de vestir se estaría diciendo que:
        .list.align-items-star.ml-4
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
            .list__txt
                p #[b Entre más corta sea la cabeza de manga, corresponde a prendas #[span.txt-deco2 deportivas.]]
        .list.align-items-star.ml-4.mt-2
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
            .list__txt
                p #[b Entre más larga sea la cabeza de manga, corresponde a prendas #[span.txt-deco2 formales.]]
        .list.align-items-star.ml-4.mt-2
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
            .list__txt
                p #[b Un punto intermedio entre las dos anteriores, corresponde a #[span.txt-deco2 prendas casuales.]]
        img(src="assets/images/pages/ilustraciones/img15.png", style="max-width: 80%").img-fluid.img-a
        .hr
        p.mt-5 #[b #[span.txt-deco2 Cabeza de manga por cuadro de tallas:]]  las cabezas de manga de los cuadros de tallas suelen ser categorizadas para prendas casuales, la medida se identifica en el cuadro de tallas, este tipo de cabeza de manga es estandarizada, no se tiene en cuenta el comportamiento sobre el cuerpo y el tipo de prenda.
        img(src="assets/images/pages/ilustraciones/img16.png", style="max-width: 100%").img-fluid.img-a
        p.mt-5 #[b #[span.txt-deco2 Cabeza de manga por medida deducida:] las cabezas de manga por medida deducida salen según el tipo de plano y línea que se trabaje, es decir, que cada vez que se esté trazando un plano, sobre ese plano con la medida de recorrido de sisa delantera y sisa posterior se identifica la cabeza de manga, la sumatoria de esas dos medidas son divididas de acuerdo con el tipo de prenda para identificar la cabeza de manga.]
        img(src="assets/images/pages/ilustraciones/img17.png", style="max-width: 100%").img-fluid.img-a
        p.mt-6 #[b #[span.txt-deco2 Cabeza de manga estandarizada:] las cabezas de manga estandarizadas suelen ser medidas que, sin explicación alguna, son entregadas para el desarrollo de las prendas.]
        .list.align-items-star.ml-4
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
            .list__txt
                p #[b Trazo de cabeza de manga:]
                p Para dar continuidad al chaleco anteriormente trazado y con el fin de hacer el análisis de los diferentes tipos de trazos de manga se debe tomar como referencia las medidas y el desarrollo de la primera parte del plano “chaleco”. Al iniciar el trazo de cabeza de manga lo primero que se debe tener en cuenta son las medidas que se van a trabajar:
                .row.justify-content-center.mb-4
                    .col-9.bg-color5
                        p.text-center.mb-0 #[b Recorrido sisa delantera - Recorrido sisa posterior - Tipo de cabeza de manga - Largo de manga]
                p En el desarrollo de curvas y trazos en las cabezas de manga existen varias formas de trazarlas, la implementación y guía que se presenta en el video hace referencia a un primer acercamiento didáctico frente a la comprensión y el comportamiento de las mangas, esto hace que sea esencial la revisión de este.
        .list.align-items-star.ml-4.mt-2
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
            .list__txt
                p #[b Trazo de manga:]
                p Debe tener en cuenta que el trazo de manga y las medidas de las sisas dependen del trazo de la prenda o diseño a trabajar, es decir, que siempre en este punto las mangas hacen parte de los complementos en los pasos del patronaje.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/eE3D_mjMC2Q', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        img(src="assets/images/pages/ilustraciones/img18.png", style="max-width: 100%").img-fluid.img-a
        .header-ecored
            h3 1.3.1 Modificaciones de manga.
        p Al tomar como punto de partida el trazo de manga base, el cual corresponde al tipo de prenda con el análisis de cabeza de manga, se trabajan modificaciones por largo.
        p Los largos más comunes son:
        .row.justify-content-center.mb-4
                    .col-9.bg-color5
                        p.text-center.mb-0 #[b Manga ¾, manga a la altura del codo, manga corta, manga coqueta y, sin manga o sisa.]
        .row.align-items-center.bg-color6.mb-5
            .col-12.col-md-3.text-center
                img(src="assets/images/pages/ilustraciones/img19.png", style="max-width: 100%").img-fluid.mb-4.mb-md-0
            .col-12.col-md-9
                p.mb-0 Estos son solo algunos de todos los que existen, es importante mencionar que en #[b este caso únicamente se trabajará desde la parte estructural o como queda en el cuerpo y no desde el nombre comercial], es decir, a nivel nacional los nombres varían de acuerdo con el contexto, motivo por el cual únicamente se #[b trabajará el nombre funcional] o que aplica con las referencias del cuerpo.
        .row.align-items-center.bg-color6.mb-5
            .col-12.col-md-3.text-center
                img(src="assets/images/pages/ilustraciones/img20.png", style="max-width: 100%").img-fluid.mb-4.mb-md-0
            .col-12.col-md-9
                p.mb-0 Dentro de las variaciones más comunes encontradas en mangas #[b se identifican los puños y las portañuelas], en infantil y masculino suelen ser utilizadas en el análisis o la interpretación de prendas superiores por camisas, chaquetas, vestidos y demás.
        .row.align-items-center.mb-4
            .col-2.text-center
                img(src="assets/images/pages/ilustraciones/img4.svg", style="max-width: 100%").img-fluid
            .col-10
                p.mb-0 Al dar continuidad al chaleco anteriormente trazado y con el fin de hacer el análisis de los diferentes tipos de modificaciones en manga se debe tomar como referencia las medidas y el desarrollo de la primera parte del plano #[b “chaleco”] y las cabezas de manga, es decir, que #[b siempre en este punto las mangas y modificaciones hacen parte de los complementos] en los pasos del patronaje.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/x_262TA1srw', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #14
        .header-ecored
            h2 1.4 Trazo de cuellos – Generalidades y comportamientos
        img(src="assets/images/pages/ilustraciones/img21.png", style="max-width: 100%").img-fluid.img-a
        p Cuando se habla de cuellos, lo primero que se debe #[b tener en cuenta es la base y forma de cada escote], esto es, si se habla de la parte funcional del cuello; el cuello es una extensión o pieza adicional que se une a un escote, tanto delantero como posterior.
        p Al trabajar bajo el #[b contexto funcional] y no comercial, todos los cuellos en patronaje se dividen en tres grandes grupos:
        .row.mt-4.justify-content-center
            .col-11
                .row.align-items-center.mb-5
                    .col-2.text-left
                        img(src="assets/images/pages/ilustraciones/img22.png", style="max-width: 100%; max-width: 100%; position: absolute; margin: -35px -13px; z-index: 2").img-fluid
                    .col-10.bg-color7
                        p.mb-0 Los cuellos por medida de contorno: 
                p son cuellos que se caracterizan por tener forma de tira, en la mayoría de los casos abrazan el cuello y #[b se mantienen “levantados”] sobre la estructura. Desde plano suelen tener curvas disímiles al escote y en la mayoría de los casos suelen salir en un plano aparte, esto es, sobre ejes de trazo diferentes al plano de la prenda.
                img(src="assets/images/pages/ilustraciones/img25.png", style="max-width: 100%").img-fluid.img-a
                p Dentro del trazo y la misma estructura del plano de los cuellos por medida de contorno se identifican las capotas.
                img(src="assets/images/pages/ilustraciones/img26.png", style="max-width: 100%").img-fluid.img-a
                .row.align-items-center.mb-5
                    .col-2.text-left
                        img(src="assets/images/pages/ilustraciones/img23.png", style="max-width: 100%; max-width: 100%; position: absolute; margin: -35px -13px; z-index: 2").img-fluid
                    .col-10.bg-color7
                        p.mb-0 Los cuellos por unión de hombro
                p son cuellos que se caracterizan porque descansan sobre el cuerpo, es decir, #[b no se mantienen “levantados”] sobre la estructura del cuello, sino que salen o quedan con la misma estructura o forma del cuerpo. Desde plano suelen salir sobre el mismo trazo de la prenda, en la mayoría de los casos suelen tener unión o costura en escote.
                img(src="assets/images/pages/ilustraciones/img27.png", style="max-width: 100%").img-fluid.img-a
                .row.align-items-center.mb-5
                    .col-2.text-left
                        img(src="assets/images/pages/ilustraciones/img24.png", style="max-width: 100%; max-width: 100%; position: absolute; margin: -35px -13px; z-index: 2").img-fluid
                    .col-10.bg-color7
                        p.mb-0 Los cuellos por extensión
                p son cuellos que se caracterizan porque combinan el comportamiento de los dos anteriores, esto es, una parte del cuello (delantero – posterior) #[b abraza el cuello y se mantiene “levantado”] sobre la estructura y la otra parte (delantero – posterior) descansa sobre el cuerpo, es decir, no se mantiene “levantado” sobre la estructura del cuello; este tipo de cuellos suelen salir en la parte que descansa sobre el cuerpo sin ningún corte, sino como una extensión de la prenda, y la parte que abraza el cuello con corte de unión en escote. Desde plano suelen salir sobre el mismo trazo de la prenda.
                img(src="assets/images/pages/ilustraciones/img28.png", style="max-width: 100%").img-fluid.img-a
                .row.justify-content-center.mt-4
                    .col-3.bg-color8
                        p Trazo de #[br] cuellos
                    .col-7.p-4
                        p.mb-0 Al dar continuidad al chaleco anteriormente trazado y con el fin de hacer el análisis de los diferentes tipos de cuellos se debe tomar como referencia las medidas y el desarrollo de la primera parte del plano “chaleco”, es decir, que siempre en este punto los cuellos hacen parte de los complementos en los pasos del patronaje.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/agDscYys1CY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #15
        .header-ecored
            h2 1.5 Despiece de planos
        p En este punto que se han desarrollado los pasos del patronaje mencionados al inicio, para poder obtener un despiece #[b es importante tener en mente que el chaleco con el que se inició a trabajar o a hacer el trazo ya tiene mangas], puños y cuello, es decir, pasó a ser o a tener las características de una camisa.
        img(src="assets/images/pages/ilustraciones/img29.png", style="max-width: 100%").img-fluid.img-a
        p Para iniciar a hacer un despiece se debe aclarar que #[b todo depende del diseño, dibujo plano o ficha técnica], el ejercicio que se va a desarrollar es simplemente un ejercicio práctico con simulaciones o ejemplos variantes a cada diseño.
        p Cuando se hace un despiece como su nombre lo indica, consiste en calcar o copiar el molde de cada pieza por aparte, identificando cada uno de los moldes que se cortarán en el material textil o material a utilizar para confeccionar la prenda.
        img(src="assets/images/pages/ilustraciones/img30.png", style="max-width: 100%").img-fluid.img-a
        p Elementos para tener en cuenta al momento de calcar las piezas para el despiece:
        .list.align-items-star.ml-4.mt-5
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
            .list__txt
                p #[span.txt-deco2 Margen de costura:] depende del tipo de costura y la maquinaria a trabajar, por especificación de calidad se asigna 1cm de margen de costura en la industria para la unión de costuras en máquina plana; pero se debe tener en cuenta si la operación es realizada, por ejemplo, en #[b fileteadora con puntada de seguridad], conforme a lo anterior se debe, si es el caso, disminuir el margen de costura. Además, es #[b muy importante el margen en los ruedos] o dobladillos de las prendas.
                img(src="assets/images/pages/ilustraciones/img31.png", style="max-width: 100%").img-fluid.img-a
                p Es importante tener en cuenta que el margen de costura #[b depende del 100% de la operación o el tipo de máquina], es decir, si en este caso se va a trabajar una costura francesa, el consumo o el margen de costura debe ser superior a 1cm, si se va a unir con cerradora de codo, #[b recubridora, fileteadora] y demás requiere especificaciones diferentes en el margen de costura.
                img(src="assets/images/pages/ilustraciones/img32.png", style="max-width: 100%").img-fluid.img-a
        .list.align-items-star.ml-4.mt-3
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
            .list__txt
                p #[span.txt-deco2 Señalización:] la señalización del plano y el molde debe ir de acuerdo con las especificaciones de diseño; la señalización incluye nombre del diseño o referencia, el hilo de tela, piquetes, bolsillos, nombre de la pieza, cantidad a cortar; la señalización es la lectura a nivel general del molde.
                img(src="assets/images/pages/ilustraciones/img33.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/u0eiVcJAldI', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        p Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos son solo ejemplos y guías, #[b cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, de elementos o incluso del tipo de lápiz que se trabaje], lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.
        .hr
        #16
        .header-ecored
            h2 1.6 Trazo de prendas superiores
        .row.align-items-center
            .col-12.col-md-5
                #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators', data-slide-to='2')
                        li(data-target='#carouselExampleIndicators', data-slide-to='3')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/img34.png', alt='0')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/img35.png', alt='1')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/img36.png', alt='2')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/img37.png', alt='3')                       
                    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
            .col-12.col-md-7.mt-4.mt-md-0
                p Para apropiar todos los conceptos y pasos trabajados en el trazo de patrones se debe ir analizando prendas desde imagen, dibujo plano, ficha técnica o muestra física, con el fin de tener referencias visuales de lo que se va trabajando.
                p #[b En las prendas de la línea infantil existe gran variedad en los diseños, algunos conforme a la evolución de los años se mantienen] y son especiales de un género como es el caso del vestido, prenda para niñas; pero conforme a los cambios sociales se presentan prendas unisex, por lo cual cambia el uso, y a su vez incide en el desarrollo del patronaje. Para el trazo de prendas superiores infantiles se debe analizar aspectos como el confort a generar y el nivel de protección, contemplando la necesidad de aplicar largos, desahogos, cuellos o escotes y sistemas de cierre acordes para cubrir dichas necesidades.
                p.text-deco3 Para el desarrollo del trazo de prendas superiores se trabajarán tres imágenes de referencia, en las cuales podrá identificar dos prendas para niña y una prenda para niño, la finalidad del ejercicio es poder comparar de qué manera se puede implementar el básico, llevándolo hacia cualquier tipo de prenda.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/X4LLIHW3dLo', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #17
        .header-ecored
            h2 1.7 Trazo de prendas inferiores – faldas
        .row.align-items-center
            .col-12.col-md-7
                p Para apropiar todos los conceptos y pasos trabajados en el trazo de patrones se debe ir analizando prendas desde imagen, dibujo plano, ficha técnica o muestra física, con el fin de tener referencias visuales de lo que se va trabajando.
                p Para el desarrollo del trazo de prendas inferiores - falda #[b se trabajarán tres imágenes de referencia, sobre estas imágenes se identifican diferentes tipos de pretinas, vuelos y amplitudes]. Asimismo tener en cuenta complementos como bolsillos, tapas y el sistema de cierre adecuado para cumplir su función, sin generar dificultades en el uso por parte del infante.
            .col-12.col-md-5
                #carouselExampleIndicators1.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators1', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators1', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators1', data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/img38.png', alt='0')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/img39.png', alt='1')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/img40.png', alt='2')                    
                    a.carousel-control-prev(href='#carouselExampleIndicators1', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators1', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
        .list.align-items-star.ml-4.mt-5
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
            .list__txt
                p #[b.text-deco2 Pretina anatómica]
        img(src="assets/images/pages/ilustraciones/img41.png", style="max-width: 100%").img-fluid.img-a
        .list.align-items-star.ml-4.mt-2
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
            .list__txt
                p #[b.text-deco2 Pretina recta]
        img(src="assets/images/pages/ilustraciones/img42.png", style="max-width: 100%").img-fluid.img-a
        p A continuación, se presenta el video Trazo de prendas inferiores, con el cual podrá realizar el patronaje de este tipo de prenda.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2LKkxEJnRj8', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #18
        .header-ecored
            h2 1.8 Trazo de prendas inferiores – pantalón
        p Para apropiar todos los conceptos y pasos trabajados en el trazo de patrones se debe ir analizando prendas desde imagen, dibujo plano, ficha técnica o muestra física, con el fin de tener referencias visuales de lo que se va trabajando. #[b Para el desarrollo del trazo de prendas inferiores - pantalón se trabajarán dos imágenes de referencia, una bajo los requerimientos de un niño y otra bajo los requerimientos de una niña], partiendo desde el mismo básico.
        img(src="assets/images/pages/ilustraciones/img43.png", style="max-width: 100%").img-fluid.img-a
        p Dentro del desarrollo de pantalón se encontrarán especificaciones como partes que conforman un bolsillo, como:
        img(src="assets/images/pages/ilustraciones/img44.png", style="max-width: 100%").img-fluid.img-a
        .row.align-items-center
            .co-12.col-md-6
                .row
                    .col-12.bg-color8
                        p.mb-0 Aletilla y #[br] aletillón
                    .col-12
                        p.mt-4 El sistema de ajuste en los pantalones infantiles más recomendado es el encauchado, #[b se emplea en pretinas y botas], en el caso de pretinas puede aplicarse en todo el contorno de la cintura, en el posterior o solo en los costados, generando seguridad; pero se debe tener en cuenta que se equilibre con el confort y facilite  gran movilidad del usuario, por tanto, que no genere incomodidad o afecte la piel del infante.
            .co-12.col-md-6
                img(src="assets/images/pages/ilustraciones/img45.png", style="max-width: 100%").img-fluid.img-a
        img(src="assets/images/pages/ilustraciones/img46.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/oBsuCQmODcc', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #19
        .header-ecored
            h2 1.9 Trazo de prendas – overol
        p Para apropiar todos los conceptos y pasos trabajados en el trazo de patrones #[b se debe ir analizando prendas desde imagen, dibujo plano, ficha técnica o muestra física, con el fin de tener referencias visuales] de lo que se va trabajando. Para el desarrollo del trazo de prendas inferiores - pantalón se trabajarán dos imágenes de referencia, una bajo los requerimientos de una niña y otra bajo los requerimientos de un niño, partiendo desde el mismo básico. #[b Este tipo de prenda en los infantes puede aplicarse no solo en uso casual, también se desarrollan en prendas para dormir].
        img(src="assets/images/pages/ilustraciones/img47.png", style="max-width: 100%").img-fluid.img-a
        .row.align-items-center
            .col-12.col-md-8
                p En especial en este tipo de prenda, en el desarrollo del patronaje conforme el diseño, #[b es importante el cuidado en la selección de los insumos como es el caso de botones, cierres y hebillas o broches], con los cuales se asegure y a la vez se facilite la postura de la prenda, lo anterior incide en el planteamiento del patronaje.
                p Dentro del desarrollo de los patrones se irá trabajando elementos como la #[b horcajadura, la cual corresponde a la holgura o desahogo al fusionar básicos superiores e inferiores], este aumento o desahogo son funcionales, es decir, son elementos básicos para que la prenda a trabajar quede sobre el cuerpo sin ningún tipo de inconveniente y cumpla con la funcionalidad final.
                p Debe tener en cuenta que a nivel comercial #[b existen diversos nombres para cada uno de los detalles y complementos de las prendas]; sin embargo, en este caso se trabajará desde la parte funcional sin especificar los nombres comerciales.
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img48.png", style="max-width: 100%").img-fluid
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Zawo0ddvcas', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #110
        .header-ecored
            h2 1.10 Trazo de prendas – bata o vestido
        p Para apropiar todos los conceptos y pasos trabajados en el trazo de patrones se debe ir analizando prendas desde imagen, dibujo plano, ficha técnica o muestra física, con el fin de tener referencias visuales de lo que se va trabajando. Para el desarrollo del trazo de prendas superiores – #[b vestido o bata se trabajará un dibujo plano de referencia, bajo los requerimientos de una niña], partiendo desde el básico.
        .row.align-items-center
            .col-2.text-center
                img(src="assets/images/pages/ilustraciones/img5.svg", style="max-width: 100%").img-fluid
            .col-10
                p.mb-0 El vestido infantil #[b se caracteriza por los vuelos, recogidos y prenses] que contemplan en los diseños, así mismo, la #[b aplicación de complementos como golas y el uso de insumos como encajes, cintas, además de sistemas de ajuste] como encauchados. Por otra parte, han ido adoptando características de prendas femeninas para producir el mismo vestido para ambas líneas, lo cual es importante considerar en el momento del desarrollo del patronaje.
        img(src="assets/images/pages/ilustraciones/img49.png", style="max-width: 100%").img-fluid.img-a
        p Para el desarrollo del trazo de la prenda se harán todos los pasos del patronaje mencionados al inicio, con el fin de validar y confrontar dudas en los conocimientos adquiridos.
        p En este trazo usted partirá de los básicos, pasando por el análisis del diseño, interpretación y trazo del plano, complementos y despiece.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/JnFLa4-gUa4', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')