.container
    .header-ecored
        h1 3. Patronaje Básico Línea Femenina
    .jumbotron.bg-white   
        img.img-a(src="assets/images/pages/tema_3/img_1.png").img-fluid
        .row.justify-content-center
            .col-12.col-md-10
                .jumbotron.jumbo_2
                    p Todas las unidades que se han trabajado, se van articulando en el fortalecimiento técnico del manejo de vocabulario, comprensión de patronaje y manejo de elementos, como curvas y formas del cuerpo, sin embargo, cada vez más se irá subiendo el nivel de dificultad frente al desarrollo y complejidad del análisis de las prendas. 

                    p En femenino, el manejo de volúmenes es uno de los principales factores diferenciadores en el desarrollo de prendas son las pinzas y sistemas de ajustes, los cuales se convierten en protagonistas principales de esta unidad, debe tener en cuenta que sin importar la línea que se trabaje, la metodología del manual y los pasos, siempre serán los mismos, este orden secuencial le permite tener una mayor y mejor apropiación de la metodología.
            p.mt-5.text-center #[strong Pasos del patronaje – Implementación de básicos y desarrollo de modelos.]

        .row.justify-content-center.mt-5
        
            .col-md-6
                .row.justify-content-center
                    .col-auto
                        img.img-a(src="assets/images/pages/tema_1/img_3.png").img-fluid
                    .col
                        p #[strong Básicos]
                hr.border-color-primary.border-2
                .row.justify-content-center.mt-5
                    .col-auto
                        img.img-a(src="assets/images/pages/tema_1/img_4.png").img-fluid
                    .col
                        p #[strong Interpretación]
                        ul
                            li
                                p Desahogos – Contorno. Largos y anchos
                            li
                                p Sistema de ajuste
                            li
                                p Sistema de cierre
                hr.border-color-primary.border-2
                .row.justify-content-center.mt-5
                    .col-auto
                        img.img-a(src="assets/images/pages/tema_1/img_5.png").img-fluid
                    .col
                        p #[strong Complementos]
                hr.border-color-primary.border-2
                .row.justify-content-center.mt-5
                    .col-auto
                        img.img-a(src="assets/images/pages/tema_1/img_6.png").img-fluid
                    .col
                        p #[strong Señalización]
                hr.border-color-primary.border-2
                .row.justify-content-center.mt-5
                    .col-auto
                        img.img-a(src="assets/images/pages/tema_1/img_7.png").img-fluid
                    .col
                        p #[strong Despiece]         

        .sub-ecored.mt-5#tema3_1
            h2 3.1. Traslados de Pinza Correctiva de talles 

            P El básico superior está compuesto por parte delantera y parte posterior, la unión de estos básicos por línea de cintura, genera o permite identificar desniveles anatómicos, los cuales van acorde con el comportamiento del cuerpo, en la parte del delantero por los desniveles de cintura, se identifica una pinza, dicha pinza recibe el nombre de pinza correctiva de talle o pinza de talle, esta pinza es un punto de referencia principal, para generar volúmenes o ajustes sobre el cuerpo.

            P En general, todas las bases superiores, sin importar la línea manejan dicha pinza, la diferencia en la base femenina, es por el volumen de busto, el cual permite que dicha pinza sea más notoria.

            P En algunos casos por construcción dicha pinza queda invisible o imperceptible al ojo desde producto final, sin embargo, en algunos otros caso, se identifica o se hace más notorio el manejo de dicha pinza.

            P La pinza correctiva de talle, permite ser trasladada o llevada a diferentes puntos del cuerpo, permitiendo así acentuar volúmenes, generar siluetas o estructuras que permiten modificar diseños.

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_2.png").img-fluid

            
            .embed-responsive.embed-responsive-16by9.mt-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .sub-ecored.mt-5#tema3_1_1
            h3 3.1.1 Análisis y trazo de sistema de ajuste. (Pinzas y cortes)
            
            p Dentro del desarrollo de moldes y patrones, se hace indispensable el manejo de pinzas, como sistema de ajuste o como insumo principal para el manejo de volúmenes, las pinzas en femenino son un punto de partida primordial y especifico el cual es necesario comprender desde la base funcional estructural y matemática.

            p Para comprender el funcionamiento de las pinzas, se trabajará únicamente la parte superior femenina, contemplando la circunferencia y el volumen del busto, de igual manera el contorno de cintura y el contorno de cadera, cada uno de estos contornos maneja características como volúmenes más protuberantes de los tops o los bottoms y punto unión o encuentro entre la división del cuerpo.

            p En el manejo de pinzas únicamente se trabajará con los contornos relevantes o que se toman como punto de partida para la construcción de básicos.

            .jumbotron.jumbo_1
                p.text-center Contorno de busto – Contorno de cintura – Contorno de cadera

            p.mt-5 Sin importar el tipo de prenda, los desahogos o la interpretación, las pinzas como sistema de ajuste siempre se trabajarán sobre esos contornos debido a que son los contornos con los que se trabaja la base o el básico. Siendo así, para el manejo de pinzas se debe tener en cuenta que:

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_3.png").img-fluid

            p.mt-5.text-center Todos los volúmenes o manejos de pinza, dependen del tipo de silueta, drop o ADN de marca.

            .embed-responsive.embed-responsive-16by9.mt-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .sub-ecored.mt-5#tema3_2
            h2 3.2 Trazo de blusa femenina

            p Para el desarrollo de los planos del manual de patronaje SENA, siempre se debe partir de las bases o básicos que se han desarrollado en componentes anteriores, con el fin de apropiar el análisis del manual, todo se irá desarrollando dentro del marco de la metodología SENA, en la cual se irán encontrando guías o ejemplos con la implementación de cada uno de los pasos del patronaje.

            p Para el trazo de la blusa con almilla con cuello camisero en la página 39 del manual, encontrará un plano de referencia, en el plano identificará elementos como desahogos, traslado de pinza correctiva de talle, sistema de cierre y complementos (almillas, bolsillo de parche) este plano es solo una guía o una referencia de cómo se puede implementar la base, no hace referencia a especificaciones o estándares para el trazo de una blusa, debe tener en cuenta que cada prenda, diseño, referencia, dibujo plano, ficha técnica o imagen, tiene unas referencias específicas, las cuales van de la mano a todos los conceptos de diseño o requerimientos que se entregan para producción. 

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_4.png").img-fluid

            p.mt-5 Con el fin de referenciar y contextualizar la implementación, recuerde que, aunque en el manual se identifica un plano separado, se sugiere trabajar siempre en plano unido, con el fin de validar medidas como largos o proporciones referenciados en el plano.

            p Para el trazo del plano desde los básicos se debe iniciar trazando una línea de referencia, en el caso de las bases superiores, se traza una línea de manera horizontal en el papel, sobre la cual quedará alineados o aplomados desde la línea base de construcción, en prendas superiores, la línea de aplome o línea base será la línea de profundidad de sisa.

            .embed-responsive.embed-responsive-16by9.mt-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-5 Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.

        .sub-ecored.mt-5#tema3_3
            h2 3.3. Trazo de escotes y tipos de cuellos

            p Cuando se habla de cuellos, lo primero que se debe tener en cuenta es la base y forma de cada escote, es decir si se habla de la parte funcional del cuello, el cuello es una extensión o pieza adicional que se une a un escote, tanto delantero como posterior.

            p Los escotes son modificaciones o “desahogos” que se dan desde el básico dependiendo el requerimiento del diseño, los escotes se componen por:

        .header-cop 
            h2.text-center ANCHO Y LARGO

        p.mt-5.text-center Los anchos son las medidas que se dan por hombro, desde el punto de cuello hombro, hacia el punto de acromio o por el recorrido de hombro.

        img.mt-5.img-a(src="assets/images/pages/tema_3/img_5.png").img-fluid

        p.mt-5.text-center Los largos, son aquellos que se dan por centros, bien sea centro frente o centro atrás.

        img.mt-5.img-a(src="assets/images/pages/tema_3/img_6.png").img-fluid

        p.mt-5.text-center Los escotes reciben el nombre de su forma, es decir en el momento en que se une el punto de ancho y el punto del largo en la parte delantera o posterior, se bautiza o asigna el nombre del escote. Algunos nombres son:

        img.mt-5.img-a(src="assets/images/pages/tema_3/img_7.png").img-fluid

        p.mt-5 Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.

        img.mt-5.img-a(src="assets/images/pages/tema_3/img_8.png").img-fluid

        p Los nombres de la forma, varían de acuerdo con el entorno comercial, así que lo más relevante es la parte técnica del funcionamiento o la lógica de cómo debe quedar la prenda sobre el cuerpo.

        p Para el trazo de cuellos, se trabajando bajo el contexto funcional y no comercial todos los cuellos en patronaje, se dividen en 3 grandes grupos:

        .jumbotron.jumbo_1
            .row
                .col-4.md-4
                    .row 
                        .col-auto
                            img.img-a(src="assets/images/pages/tema_1/img_30.png").img-fluid
                        .col
                            p.mt-3 Cuellos por Medida de contorno
                .col-4.md-4
                    .row 
                        .col-auto
                            img.img-a(src="assets/images/pages/tema_1/img_31.png").img-fluid
                        .col
                            p.mt-3 Por unión de hombro

                .col-4.md-4
                    .row.justify-content-center 
                        .col-auto
                            img.img-a(src="assets/images/pages/tema_1/img_32.png").img-fluid
                        .col
                            p.mt-3  Por extensión

        .embed-responsive.embed-responsive-16by9.mt-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .sub-ecored.mt-5#tema3_4
            h2 3.4 Trazo de chaqueta tipo sastre

            p Para el desarrollo de los planos del manual de patronaje SENA, siempre se debe partir de las bases o básicos que se han desarrollado en componentes anteriores, con el fin de apropiar el análisis del manual, todo se irá desarrollando dentro del marco de la metodología SENA, en la cual se irán encontrando guías o ejemplos con la implementación de cada uno de los pasos del patronaje.

            p Para el trazo de chaqueta cuello sastre en la página 40 del manual, encontrará un plano de referencia, en el plano identificará elementos como desahogos, traslado de pinza correctiva de talle, sistema de ajuste (corte francés) sistema de cierre, este plano es solo una guía o una referencia de cómo se puede implementar la base, no hace referencia a especificaciones o estándares para el trazo de una chaqueta tipo sastre o con cuello sastre, debe tener en cuenta que cada prenda, diseño, referencia, dibujo plano, ficha técnica o imagen, tiene unas referencias específicas, las cuales van de la mano a todos los conceptos de diseño o requerimientos que se entregan para producción. 

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_9.png").img-fluid

            p.mt-5 Con el fin de referenciar y contextualizar la implementación, recuerde que, aunque en el manual se identifica un plano separado, se sugiere trabajar siempre en plano unido, con el fin de validar medidas como largos o proporciones referenciados en el plano.

            p Para el trazo del plano desde los básicos se debe iniciar trazando una línea de referencia, en el caso de las bases superiores, se traza una línea de manera horizontal en el papel, sobre la cual quedará alineados o aplomados desde la línea base de construcción, en prendas superiores, la línea de aplome o línea base será la línea de profundidad de sisa. 

            .embed-responsive.embed-responsive-16by9.mt-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-5 Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.

        .sub-ecored.mt-5#tema3_5
            h2 3.5 Trazo de manga y cabezas de manga

            p Cuando se habla de manga, básicamente se entiende o identifica como una pieza circular que cubre el brazo, sin embargo, existen diferentes tipos de puntos para tener en cuenta:

            .row.justify-content-center.mt-5
                .col-10.col-md-8
                    .card-media
                        .card-media__body               
                            figure.card__figure
                                img(src="assets/images/pages/tema_3/img_10.png").img-fluid
                            p #[strong Largo de Manga:] 

                            p El largo de manga anatómico es aquel que va desde el punto de acromio hasta la muñeca, se debe tener en cuenta que, sin importar el diseño, largo o forma del cuerpo de la manga, siempre se debe partir desde el largo anatómico. 

            .row.justify-content-center.mt-5
                .col-10.col-md-8
                    .card-media
                        .card-media__body               
                            figure.card__figure
                                img(src="assets/images/pages/tema_3/img_11.png").img-fluid
                            p #[strong Altura o Cabeza de Manga:] 

                            p Cuando se habla de cabeza de manga, se identifican diferentes tipos de medidas, se puede trabajar con medida de cuadro de tallas, medida deducida o estandarizada.
                            p Se debe tener en cuenta que el largo de manga siempre será el mismo, sin importar que tipo de prenda o cabeza de manga se implemente.

            .row.justify-content-center.mt-5
                .col-10.col-md-8
                    .card-media
                        .card-media__body               
                            figure.card__figure
                                img(src="assets/images/pages/tema_3/img_12.png").img-fluid
                            p #[strong Comportamiento de cabeza de manga:]

                            P Entre más larga sea la altura de cabeza de manga, otorgará menor movimiento sobre el cuerpo = Incomodidad, pero mayor estructura, esta descripción corresponde a las prendas que van ajustadas o con la horma del cuerpo.

            P.mt-5 Entre más corta sea la altura de cabeza de manga, otorgará mayor movimiento sobre el cuerpo = Comodidad, pero menor estructura, esta descripción corresponde a las prendas que van holgadas o desestructuradas sobre el cuerpo.

            p Básicamente si está descripción se divide o se categoriza en prendas de vestir, se estaría diciendo qué:

            ul.li
                li
                    p Entre más corta sea la cabeza de manga, corresponde a prendas #[strong DEPORTIVAS]
                li
                    p Entre más larga sea la cabeza de manga, corresponde a prendas #[strong FORMALES]
                li
                    p Un punto intermedio entre las dos anteriores, corresponde a prendas #[strong CASUALES]

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_13.png").img-fluid

            p.mt-5 #[strong Fuente: Manual_patronaje_basico_interpretacion_disenos.PDF - Sena]

            .row.mt-5      
                .col-12.col-md-4
                    .card.span-color_1
                        .card-body
                            p Cabeza de manga por cuadro de tallas:

            p Las cabezas de manga de los cuadros de tallas suelen ser categorizadas para prendas casuales, la medida se identifica en el cuadro de tallas, este tipo de cabeza de manga es estandarizada, no se tiene en cuenta el comportamiento sobre el cuerpo y según el tipo de prenda. 

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_14.png").img-fluid

            p.mt-5.text-center #[strong Cabeza de manga por medida deducida:]

            .row.mt-5      
                .col-12.col-md-5
                    .card.span-color_1
                        .card-body
                            p Cabeza de manga por medida deducida:

            p Las cabezas de manga por medida deducida, sale según el tipo de plano y línea que se trabaja, es decir que cada vez que se esté trazando un plano, sobre ese plano con la medida de recorrido de sisa delantera y sisa posterior se identifica la cabeza de manga, la sumatoria de esas dos medidas son divididas de acuerdo con el tipo de prenda, para identificar la cabeza de manga. 

            ul.ul1
                li
                    p Cabeza de manga deportiva = #[strong Sisa delantera + Sisa posterior / 5]
                li
                    p Cabeza de manga Casual = #[strong Sisa delantera + Sisa posterior / 4]
                li
                    p Cabeza de manga Sastre o Formal = #[strong Sisa delantera + Sisa posterior / 3]

            p Cabeza de manga estandarizada: Las cabezas de manga estandarizadas, suelen ser medidas que, sin explicación alguna, son entregadas para el desarrollo de las prendas.

            p Para el desarrollo, trazo o marcación de cabeza de manga existen infinidad de formas, formulas o metodologías, sin embargo, la clasificación anterior hace referencia a lo que se trabaja en el manual, en cualquier línea. Sin importar el tipo de línea es importante que tenga en cuenta siempre la lógica del comportamiento de las cabezas de manga, según tipo de prenda.

            p En la página N°26 del manual (Línea Femenina), se identifica otro tipo de forma para sacar o deducir la altura 

            .row.mt-5      
                .col-12.col-md-5
                    .card.span-color_1
                        .card-body
                            p Desahogo por Ancho de pecho y ancho de espalda:

            p Los desahogos sueles ser incrementos que van o corresponden a la misma proporción de la holgura inicial, es decir, los desahogos por anchos corresponden al incremento que se aplica al desahogo por contorno.

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_15.png").img-fluid

            p.mt-5 En la página N°44 del manual (Línea Femenina), se identifica otro tipo de forma para sacar o deducir la altura de cabeza de manga. 

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_16.png").img-fluid

            p.mt-5 En la página N°67 y N°70 del manual (Línea Masculina), se identifica otro tipo de forma para sacar o deducir la altura de cabeza de manga.

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_17.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_18.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_19.png").img-fluid

            p.mt-5 Cada una de estas fórmulas, corresponden a medidas deducidas, quiere decir que siempre que usted vaya a trazar una cabeza de manga, lo primero que debe analizar es el comportamiento y la funcionalidad sobre el cuerpo, lo importante es que el comportamiento de la cabeza de manga sobre el cuerpo, sea equivalente al diseño o prenda que se va a trabajar.

        h2.color_tex_1 Trazo de cabeza de manga:

        p Para poder trabajar los diferentes tipos de trazos y curvas de cabezas de manga, se sugiere tomar los planos de blusa con almilla – página 39 y chaqueta con cuello sastre – página 40 con el fin de analizar y trabajar diferentes formas de sacar o trazar cabeza de manga, para poder trazar las cabezas de manga se sugiere tener las siguientes medidas:

        p.text-center #[strong Recorrido sisa delantera] (medidas que salen del plano)
        p.text-center  #[strong Recorrida sisa posterior] (medidas que salen del plano)
        p.text-center  #[strong Tipo de cabeza de manga]
        p.text-center  #[strong Largo de manga]

        p En el desarrollo de curvas y trazos en las cabezas de manga existen varias formas de trazarlas, las implementadas y guiadas en el vídeo hace referencia a un acercamiento general de todos los trazos del manual.

        h2.color_tex_1 Trazo de manga:

        p Debe tener en cuenta que el trazo de manga y las medidas de las sisas dependen del trazo de la prenda o diseño a trabajar, es decir que siempre en este punto las mangas hacen parte de los complementos en los pasos del patronaje.

        .embed-responsive.embed-responsive-16by9.mt-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .sub-ecored.mt-5#tema3_5_1
            h3 3.5.1 Interpretación de mangas

            p Para profundizar en los conceptos y detalles trabajados en el trazo de mangas, se hará el análisis de diferentes diseños desde dibujo plano e imagen, con el fin de tener referencias visuales de lo que se va trabajando, se tendrán varias imágenes de referencia, en este punto y con la firme intención de afianzar cada vez más el conocimiento, se implementará una serie de cortes, traslados y aumentos que irán generando volúmenes o estructuras diferentes sobre el cuerpo, todo partiendo desde el desarrollo del trazo base de manga.

            p La finalidad del ejercicio es poder experimentar de qué manera se puede implementar el mismo punto de partida (manga base) hacia diferentes tipos de diseño, bajo una misma tipología.

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_20.png").img-fluid

            .embed-responsive.embed-responsive-16by9.mt-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-5 Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.

        .sub-ecored.mt-5#tema3_6
            h2 3.6 Trazo de falda y modificación de básicos de falda

            p Para profundizar en los conceptos y detalles trabajados en el trazo de faldas, se hará el análisis de diferentes diseños desde imagen, con el fin de tener referencias visuales de lo que se va trabajando, se tendrán varias imágenes de referencia, en este punto y con la firme intención de afianzar cada vez más el conocimiento, se hará o trabajará todo sobre análisis de proporciones.

            p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, es importante resaltar que las medidas y el análisis de proporciones varía de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida, las referencias implementadas son solo ejemplos detallados de cómo y qué manera se debe implementar el desarrollo.

            p La finalidad del ejercicio es poder comparar de qué manera se puede implementar el básico llevándolo hacia diferentes tipos de diseño, bajo una misma tipología.

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_21.png").img-fluid

            p.mt-5 Cuando se empieza a trabajar el trazo de prendas, desde los básicos, los básicos siempre deben ir alineados o aplomados sobre una línea base de construcción, en prendas inferiores la línea de aplome o línea base será la línea altura de cadera.

            .embed-responsive.embed-responsive-16by9.mt-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-5 Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.

        .sub-ecored.mt-5#tema3_6_1
            h3 3.6.1 Trazo de faldas rotondas

            p Para profundizar en los conceptos y detalles trabajados en el trazo de faldas, se hará el análisis de diferentes diseños desde imagen, con el fin de tener referencias visuales de lo que se va trabajando, se tendrán varias imágenes de referencia, en este punto y con la firme intención de afianzar cada vez más el conocimiento, se implementará una serie de términos técnicos que irán generando diferentes volúmenes o estructuras sobre el cuerpo.

            p La finalidad del ejercicio es poder experimentar de qué manera se puede implementar el mismo punto de partida (falda) hacia diferentes tipos de resultados, bajo una misma tipología.

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_22.png").img-fluid

            .embed-responsive.embed-responsive-16by9.mt-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-5 Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.

        .sub-ecored.mt-5#tema3_7
            h2 3.7 Trazo de vestido de noche

            p Para profundizar en los conceptos y detalles trabajados en el trazo de prendas superiores e inferiores, se hará el análisis de diferentes diseños desde imagen y plano, con el fin de tener referencias visuales de lo que se va trabajando, se tendrán varios puntos. El desarrollo de diseños tiene como objetivo principal afianzar cada vez más el conocimiento bajo el análisis de proporciones y requerimientos de las prendas.

            p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, es importante resaltar que las medidas y el análisis de proporciones varía de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida, las referencias implementadas son solo ejemplos detallados de cómo y qué manera se debe implementar el desarrollo.

            p La finalidad del ejercicio es poder aplicar todo el conocimiento y manejo de conceptos adquirido hasta el momento, llevando la implementación de los básicos hacia diferentes tipos de prendas.

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_23.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_24.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_25.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_1/img_51.png").img-fluid

            p.mt-5 Cuando se empieza a trabajar el trazo de prendas, desde los básicos, los básicos siempre deben ir alineados o aplomados sobre una línea base de construcción, en prendas superior la línea de aplome o línea base será la línea de profundidad de sisa.

            .embed-responsive.embed-responsive-16by9.mt-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-5 Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.

        .sub-ecored.mt-5#tema3_8
            h2 3.8 Interpretación de prendas inferiores 

            p Para profundizar en los conceptos y detalles trabajados en el trazo de pantalón, se hará el análisis de un diseño desde imagen, con el fin de tener una referencia visual de lo que se va trabajando. El desarrollo de diseños tiene como objetivo principal afianzar cada vez más el conocimiento bajo el análisis de proporciones y requerimientos de las prendas.

            p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, es importante resaltar que las medidas y el análisis de proporciones varía de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida, las referencias implementadas son solo ejemplos detallados de cómo y qué manera se debe implementar el desarrollo.

            p La finalidad del ejercicio es poder aplicar todo el conocimiento y manejo de conceptos adquirido hasta el momento, llevando la implementación de los básicos hacia diferentes tipos de prendas.  

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_26.png").img-fluid

            p.mt-5 Cuando se empieza a trabajar el trazo de prendas, desde los básicos, los básicos siempre deben ir alineados o aplomados sobre una línea base de construcción, en prendas inferior la línea de aplome o línea base será la línea de altura de cadera o tiro.

            .embed-responsive.embed-responsive-16by9.mt-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-5 Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.

        .sub-ecored.mt-5#tema3_9
            h2 3.9 Interpretación de Overoles

            p Para profundizar en los conceptos y detalles trabajados en el trazo de overol, se hará el análisis de un diseño desde imagen, con el fin de tener una referencia visual de lo que se va trabajando. El desarrollo de diseños tiene como objetivo principal afianzar cada vez más el conocimiento bajo el análisis de proporciones y requerimientos de las prendas.

            p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, es importante resaltar que las medidas y el análisis de proporciones varía de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida, las referencias implementadas son solo ejemplos detallados de cómo y qué manera se debe implementar el desarrollo.

            p La finalidad del ejercicio es poder aplicar todo el conocimiento y manejo de conceptos adquirido hasta el momento, llevando la implementación de los básicos hacia diferentes tipos de prendas.

            img.mt-5.img-a(src="assets/images/pages/tema_3/img_27.png").img-fluid

            p.mt-5 Cuando se empieza a trabajar el trazo de prendas, desde los básicos, los básicos siempre deben ir alineados o aplomados sobre una línea base de construcción, en prendas inferior la línea de aplome o línea base será la línea de altura de cadera o tiro.

            .embed-responsive.embed-responsive-16by9.mt-5
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-5 Se debe tener en cuenta que las medidas implementadas o referenciadas en los videos, son solo ejemplos y guías, cada plano o cada uno tendrá referencias diferentes, esto depende del tipo de trazo, elementos o incluso el tipo de lápiz que se trabaje, lo importante es siempre referenciar las medidas del cuadro de tallas y las fórmulas referenciadas.