.container#patronaje2

    .jumbotron.bg-white.shadow.mt-6
        .header-ecored.mt-0
            h1 2. Patronaje básico línea masculina
        .row.align-items-center
            .col-12.col-md-6.text-center
                img(src="assets/images/pages/ilustraciones/img50.png", style="max-width: 100%").img-fluid
            .col-12.col-md-6.mt-4.mt-md-0
                p Antes de iniciar la implementación y transformación de básicos en masculino se #[b debe tener en cuenta la introducción y los conceptos referenciados en la unidad de pre-patronaje], con el fin de mantener claridad en el desarrollo de modelos.
                p Lo primero para tener en cuenta es el #[b manejo de cuadro de tallas y unidad de medida], en masculino el desarrollo de modelos o diseños en el manual se identifica en centímetros; sin embargo, el cuadro de tallas se encuentra en pulgadas, #[b es necesario tener el cuadro de tallas con la conversión] a centímetros para facilitar los procesos del trazo.
        .row.align-items-center.mt-0.mt-md-4
            .col-12.col-md-6
                p Otro punto para tener en cuenta es el manejo de siluetas, en masculino el manual trabaja dos siluetas: una clásica y otra slim fit, si bien el desarrollo de los planos y moldes cumple con los mismos pasos o el mismo orden secuencial, lo que varía son las fórmulas, específicamente para el desarrollo de los básicos.
                p Para la implementación y modificación de básicos es importante tener claridad en cada uno de los conceptos de patronaje como medidas, pasos, elementos y vocabulario técnico que se irá implementando en el desarrollo de los trazos, moldes o planos.
            .col-12.col-md-6.text-center
                img(src="assets/images/pages/ilustraciones/img51.png", style="max-width: 100%").img-fluid
        p.mt-5 En este punto, para la implementación de los básicos se debe tomar como referencia los pasos del patronaje de acuerdo con la metodología #[b SENA].
        .row.mt-5.align-items-center.justify-content-center
            .col-12.col-md-5.bg-color1
                h2 Pasos del patronaje – Implementación de básicos y desarrollo de modelos
                ol
                    li.mb-3 Básicos.
                    li.mb-3 Interpretación.
                        p.mb-0.mt-3 Desahogos – Contorno. Largos y anchos.
                        p.mb-0 Sistema de ajuste.
                        p.mb-0 Sistema de cierre.
                    li.mb-3 Complementos.
                    li.mb-3 Señalización.
                    li.mb-0 Despiece.
            .col-12.col-md-5.text-center.mt-4.mt-md-0
                img(src="assets/images/pages/ilustraciones/img52.png", style="max-width: 100%").img-fluid
        p.mt-5 Para esta unidad se hará la implementación del manual de patronaje básico SENA desde la página 63 hasta la página 80, incluyendo algunas imágenes de referencia.
        .hr
        #21
        .header-ecored
            h2 2.1 Trazo de camisa clásica
        p Para el desarrollo de los planos del manual de patronaje #[b SENA], siempre #[b se debe partir de las bases o básicos que se han desarrollado en componentes anteriores], con el fin de apropiar el análisis del manual, todo se irá desarrollando dentro del marco de la metodología #[b SENA], en la cual se irán encontrando guías o ejemplos con la implementación de cada uno de los pasos del patronaje.
        .row
            .col-2.text-center
                img(src="assets/images/pages/ilustraciones/img6.svg", style="max-width: 100%").img-fluid
            .col-10
                p Para el trazo de #[b camisa clásica en la página 66 del manual encontrará un plano de referencia], en el plano identificará elementos como #[b desahogos, sistemas de cierre y complementos (almillas, prenses, bolsillo de parche)], este plano es solo una guía o una referencia de cómo se puede implementar la base, no hace referencia a especificaciones o estándares para el trazo de una camisa, debe #[b tener en cuenta que cada prenda, diseño, referencia, dibujo plano, ficha técnica o imagen tiene unas referencias específicas], las cuales van de la mano con todos los conceptos de diseño o requerimientos que se entregan para producción.
        img(src="assets/images/pages/ilustraciones/img53.png", style="max-width: 100%").img-fluid.img-a1
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/PKd_D-0U968', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .header-ecored
            h3 2.1.1 Camisa slim fit
        p Al tomar como referencia el análisis realizado en el trazo de camisa clásica se dará inicio al trazo de la camisa slim fit.
        .row
            .col-2.text-center
                img(src="assets/images/pages/ilustraciones/img7.svg", style="max-width: 100%").img-fluid
            .col-10
                p Lo primero para tener en cuenta es el manejo de los básicos, dependiendo del tipo de silueta, en este caso, #[b se sugiere trabajar el básico de silueta slim fit], con el fin de manejar la horma de acuerdo con las siluetas anteriormente trabajadas.
                p Para el trazo de camisa #[b slim fit en la página 69 del manual encontrará un plano de referencia], en el plano identificará elementos como sistemas de cierre y complementos (almillas); #[b este plano es solo una guía o una referencia de cómo se puede implementar la base slim fit], no hace referencia a especificaciones o estándares para el trazo de una camisa slim fit, debe tener en cuenta que cada prenda, diseño, referencia, dibujo plano, ficha técnica o imagen tiene unas referencias específicas, las cuales van de la mano con todos los conceptos de diseño o requerimientos que se entregan para producción.
        img(src="assets/images/pages/ilustraciones/img54.png", style="max-width: 100%").img-fluid.img-a1
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/3RWdObxnOYY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .header-ecored
            h3 2.1.2 Trazo de manga, puño y cuello – camisa clásica y slim fit
        p Para el desarrollo de las mangas, cuellos y puños se trabajarán las generalidades de cada uno de los trazos o de las camisas clásicas y slim fit, con el fin de referenciar la metodología del manual de patronaje básico SENA, en las páginas 66, 67, 69 y 70 encontrará los planos de referencia.
        img(src="assets/images/pages/ilustraciones/img55.png", style="max-width: 100%").img-fluid.img-a1
        p Para el desarrollo o trazo de mangas debe tener en cuenta siempre el comportamiento de las cabezas de mangas:
        .row.justify-content-center.mt-4
            .col-11.bg-color9
                .row
                    .col-12.bg-color10
                        p #[b Entre más larga] sea la altura de cabeza de manga otorgará menor movimiento sobre el cuerpo = incomodidad, pero mayor estructura, esta descripción corresponde a las prendas que van ajustadas o con la horma del cuerpo.
                        p #[b Entre más corta] sea la altura de cabeza de manga otorgará mayor movimiento sobre el cuerpo = comodidad, pero menor estructura, esta descripción corresponde a las prendas que van holgadas o desestructuradas sobre el cuerpo.
                        p.mt-0 En este caso se identifican cabezas de manga muy cortas, lo cual indica que son prendas que quedarán desestructuradas u holgadas sobre el cuerpo.
        p.mt-4 Dentro de los ejercicios anteriores de cabezas de manga se identifica la generalidad de cabeza de manga deducida como:
        .row.mt-4.align-items-center
            .col-2.text-right
                img(src="assets/images/pages/ilustraciones/img3.svg", style="max-width: 100%; position: absolute; margin: -40px; z-index: 2").img-fluid
            .col-10.bg-color11
                p Cabeza de manga deportiva = sisa delantera + sisa posterior / 5
                p Cabeza de manga casual = sisa delantera + sisa posterior / 4
                p.mb-0 Cabeza de manga sastre o formal = sisa delantera + sisa posterior / 3
        p.mt-4 Sin embargo, en este caso se sugiere trabajar con otra fórmula, la cual indica por su comportamiento que quedará con menor estructura y mayor comodidad sobre el cuerpo.
        p En el caso de las cabezas de mangas deducidas para las camisas clásica y slim fit se sugiere trabajar con:
        .row.mt-4.align-items-center
            .col-2.text-right
                img(src="assets/images/pages/ilustraciones/img3.svg", style="max-width: 100%; position: absolute; margin: -40px; z-index: 2").img-fluid
            .col-10.bg-color11
                p Cabeza de manga camisa clásica = sisa delantera + sisa posterior / 6+2
                p.mb-0 Cabeza de manga camisa slim fit = sisa delantera + sisa posterior / 6+4
        .imgTopBar.mt-5
            .row.justify-content-around.align-items-center
                .col-8.mb-3.mb-md-0
                    img(src="assets/images/pages/icons/icon_img.svg", alt="", style="7px")
                    p.d-inline.mb-0 Ver imagen: camisa clásica paso 2 y camisa slim fit paso 2
                .col-auto.imgTopBarButton.shadow
                    a(href="media/documentos/Anexo1.pdf", target="_blank").imgTopBar_link 
                        .row 
                            .col-auto                   
                                p.d-inline(style="margin-right:10px") Ver imagen
        .row.mt-5.align-items-center
            .col-12.col-md-6
                p La sumatoria al final permite identificar que por la silueta una de las dos mangas quedará con mayor desestructura sobre el cuerpo.
                p En #[b el largo de manga se identifican referencias o disminuciones, dependiendo del comportamiento y ancho de puño], cada una de las medidas son únicamente referencias, recuerde que usted debe #[b tener en cuenta siempre los requerimientos del diseño] y que este es solo un ejercicio práctico para ejemplificar de qué manera manejar o modificar los básicos para el desarrollo de prendas.
                p Para el desarrollo de #[b la portañuela, prenses, pliegues y demás complementos de la manga se debe tener en cuenta siempre el diseño y la referencia de la prenda], este es solo un ejercicio práctico para ejemplificar de qué manera manejar o modificar los básicos para el desarrollo de prendas.
            .col-12.col-md-6.text-center
                img(src="assets/images/pages/ilustraciones/img56.png", style="max-width: 100%").img-fluid
        .imgTopBar.mt-5
            .row.justify-content-around.align-items-center
                .col-8.mb-3.mb-md-0
                    img(src="assets/images/pages/icons/icon_img.svg", alt="", style="7px")
                    p.d-inline.mb-0 Ver imagen: camisa clásica paso 1 y camisa slim fit paso 1
                .col-auto.imgTopBarButton.shadow
                    a(href="media/documentos/Anexo1.pdf", target="_blank").imgTopBar_link 
                        .row 
                            .col-auto                   
                                p.d-inline(style="margin-right:10px") Ver imagen
        .row.mt-5.align-items-center
            .col-2.text-center  
                img(src="assets/images/pages/ilustraciones/img8.svg", style="max-width: 100%").img-fluid
            .col-10
                p Para el trazo de cuellos se debe tener siempre la referencia del tipo de cuello, medidas de cada uno de los escotes y el plano de la prenda con la que se va a trabajar.
                p Por otro lado, #[b es importante contemplar las piezas de entretela, la relación del tipo a usar y la tela de la camisa], en la verificación de los patrones se debe pensar en el corte de estas piezas y plantear el troquelado como una opción adecuada para cuellos, puños, portañuelas y bajantes (botoneras o pecheras), de lo anterior se deriva la importancia de estandarizar este tipo de piezas de los patrones.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ktU9DxgPvH8', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #22
        .header-ecored
            h2 2.2 Trazo de prendas superiores - camisa
        img(src="assets/images/pages/ilustraciones/img57.png", style="max-width: 100%").img-fluid.img-a
        p Para profundizar en los conceptos y detalles trabajados en el trazo de #[b camisas se hará el análisis de diferentes diseños desde imagen y dibujo plano, con el fin de tener referencias visuales de lo que se va trabajando], se tendrán varias imágenes de referencia, en este punto y con la firme intención de afianzar cada vez más el conocimiento se hará o trabajará todo sobre el análisis de proporciones.
        .row.mt-4
            .col-2.text-center
                img(src="assets/images/pages/ilustraciones/img7.svg", style="max-width: 100%").img-fluid
            .col-10
                p #[b Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño], que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre el análisis de proporciones, #[b es importante resaltar que las medidas y el análisis de proporciones varía de acuerdo con el tamaño, diseño, impresión, dibujo, básico y sistema de medida]; las referencias implementadas son solo ejemplos detallados de cómo y qué manera se debe implementar el desarrollo.
        .row.align-items-center.mt-5
            .col-12.col-md-5
                #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                        li(data-target='#carouselExampleIndicators', data-slide-to='1')
                        li(data-target='#carouselExampleIndicators', data-slide-to='2')
                        li(data-target='#carouselExampleIndicators', data-slide-to='3')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/img58.png', alt='0')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/img59.png', alt='1')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/img60.png', alt='2')
                        .carousel-item
                            img.d-block.w-100(src='assets/images/pages/ilustraciones/img61.png', alt='3')                       
                    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
            .col-12.col-md-7.mt-4.mt-md-0.text-center
                img(src="assets/images/pages/ilustraciones/img62.png", style="max-width: 100%").img-fluid
        .row.mt-5
            .col-12.bg-color9
                p.mb-0 Es importante plantear en esta prenda algunos detalles importantes, lo cual influye en el patronaje. #[b La camisa es concebida de uso exclusivo de los caballeros, ha ido evolucionando no solo en la silueta], además presenta modificaciones en los cuellos, los cuales han ido tomando nombres conforme al sitio de su procedencia, generando varios tipos, se habla del #[b cuello inglés, francés entre otros, incluso otros diseños como cuello nerú], alto, planteados para diversificar el estilo y por tanto, se desarrolla el patronaje. Asimismo, se presentan diferencias en varias partes como en las mangas y complementos como bajantes (pecheras o botoneras), almillas, puño y portañuelas. #[b El patronista debe considerar este tipo de alternativas para trazar sus patrones].
        p.mt-5 La finalidad del ejercicio es poder comparar de qué manera se puede implementar el básico llevándolo hacia diferentes tipos de diseño, bajo una misma tipología.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/CxwJTRQh-aY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-4
            .col-10
                p Con respecto a lo anterior, en el #[b patronaje del pantalón clásico masculino partes como el tiro y los bolsillos laterales son de especial cuidado], debido a que deben responder a la funcionabilidad requerida, especificaciones como la profundidad del bolsillo, la forma y tamaño de la vista debe detenerse en el planteamiento del patronaje para tener especial atención.
            .col-2.text-center
                img(src="assets/images/pages/ilustraciones/img4.svg", style="max-width: 100%").img-fluid
        .hr
        #23
        .header-ecored
            h2 2.3 Trazo del pantalón clásico masculino
        .row
            .col-12.col-md-6
                p Para el desarrollo de los planos del manual de patronaje #[b SENA] siempre se debe partir de las bases o básicos que se han desarrollado en componentes anteriores, con el fin de apropiar el análisis del manual, #[b todo se irá desarrollando dentro del marco de la metodología SENA], en la cual se irán encontrando guías o ejemplos con la implementación de cada uno de los pasos del patronaje.
                p.mb-4.mb-md-0 Para el trazo de pantalón clásico en la página 79 del manual encontrará un plano de referencia, #[b en el plano identificará elementos como desahogos, sistemas de cierre y complementos] (prenses, bolsillo – boca, fondo, falso y vista de bolsillo, bolsillo de ribete, pretina recta) #[b este plano es solo una guía o una referencia de cómo se puede implementar la base inferior de pantalón], no hace referencia a especificaciones o estándares para el trazo de un pantalón formal o clásico, debe tener en cuenta que #[b cada prenda, diseño, referencia, dibujo plano, ficha técnica o imagen tiene unas referencias específicas], las cuales van de la mano con todos los conceptos de diseño o requerimientos que se entregan para producción. 
            .col-12.col-md-6.text-center
                img(src="assets/images/pages/ilustraciones/img63.png", style="max-width: 100%").img-fluid
                .row
                    .col-12.bg-color16
                        p.text-left ...cada prenda, diseño, referencia, dibujo plano, ficha técnica o imagen tiene unas referencias específicas
                        .hr2

        img(src="assets/images/pages/ilustraciones/img64.png", style="max-width: 100%").img-fluid.img-a
        .row
            .col-12.bg-color6
                p.mb-0 Al tener en cuenta que el desarrollo del trazo del pantalón clásico sale desde el básico o la base inferior del pantalón masculino, es importante tener claras las medidas y las referencias de construcción, con el fin de modificar o trabajar ajustes desde la base y no iniciar el trazo del diseño del pantalón desde cero.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/4FG5qSekuLc', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-5
            .col-12.bg-color9
                p.mb-0 Con respecto a lo anterior, en #[b el patronaje del pantalón clásico masculino partes como el tiro y los bolsillos laterales son de especial cuidado], debido a que deben responder a #[b la funcionabilidad requerida, especificaciones como la profundidad del bolsillo, la forma y tamaño de la vista debe detenerse en el planteamiento del patronaje] para tener especial atención.
        .hr
        #24
        .header-ecored
            h2 2.4 Trazo de pantalón tipo #[i jean slim fit]
        .row.align-items-center
            .col-12.col-md-6.text-center
                img(src="assets/images/pages/ilustraciones/img65.png", style="max-width: 100%").img-fluid
            .col-12.col-md-6.mt-4.mt-md-0
                p Para el desarrollo de los planos del manual de patronaje #[b SENA] siempre #[b se debe partir de las bases o básicos que se han desarrollado en componentes anteriores], con el fin de apropiar el análisis del manual, todo se irá desarrollando dentro del marco de la #[b metodología SENA], en la cual se irán encontrando guías o ejemplos con la implementación de cada uno de los pasos del patronaje.
        p.mt-4 Para el trazo de pantalón tipo jean silueta slim fit (ajustado) en la página 80 del manual #[b encontrará un plano de referencia, en el plano identificará elementos como ajustes, sistemas de cierre y complementos (pasadores, bolsillo – boca, fondo, falso y vista de bolsillo, bolsillo de parche, pretina recta, cotilla)] este plano es solo una guía o una referencia de cómo se puede implementar la base inferior del pantalón, #[b no hace referencia a especificaciones o estándares para el trazo de un pantalón ajustado o tipo jean]; debe tener en cuenta que cada prenda, diseño, referencia, dibujo plano, ficha técnica o imagen tiene unas referencias específicas, las cuales van de la mano con todos los conceptos de diseño o requerimientos que se entregan para producción.
        img(src="assets/images/pages/ilustraciones/img66.png", style="max-width: 100%").img-fluid.img-a
        .row
            .col-4.bg-color8
                p.mb-0 Silueta #[br] #[i Slim Fit]
            .col-8
                p Al tener en cuenta que el desarrollo del trazo de pantalón #[b tipo jean silueta slim fit (ajustado)], sale desde el básico o la base inferior de pantalón masculino, #[b es importante tener claras las medidas y las referencias de construcción, con el fin de modificar o trabajar ajustes desde la base y no iniciar el trazo del diseño del pantalón desde cero]. En este caso se realizarán ajustes por anchos, contornos y gancho o extensión de tiro, tomando como referencia o punto de anclaje la línea de aplome.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RE-fVkNZIOo', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #25
        .header-ecored
            h2 2.5 Base sastre masculina
        p En masculino el nivel de dificultad frente al desarrollo de prendas de vestir depende del nivel y el requerimiento, si bien a nivel nacional, #[b la creatividad e innovación en el vestuario no es vanguardista, sino que va más hacia un perfil clásico o neo tradicional], la calidad y horma que se exige hace que se deba categorizar cada uno de los requerimientos y solicitudes, si bien en masculino en el común denominador de las prendas no se trabajan volúmenes superiores como circunferencias en busto o ajuste en glúteos, se trabajan elementos de ajuste que van de la mano con la postura o tipo de prenda.
        .row.align-items-center
            .col-12.col-md-6.text-center
                img(src="assets/images/pages/ilustraciones/img67.png", style="max-width: 100%").img-fluid
            .col-12.col-md-6
                p En masculino cuando se habla de sastrería #[b se trabaja todo lo referenciado a la postura, es decir, el comportamiento de una chaqueta sastre está diseñado, trazado y patronado para mejorar o reforzar la postura de la persona], todo esto se logra por una serie de ajustes y traslados en cada una de las medidas del cuerpo, permitiendo que únicamente con el patronaje se logre estilizar la figura, silueta y postura.
                p #[b Para el desarrollo de la base sastre masculina se acudirá a las referencias y pasos generales implementados en el trazo de los básicos clásicos y slim fit].
        .row.mt-5.justify-content-center
            .col-8.bg-color6
                p Lo primero que se debe hacer es tomar las siguientes referencias:
                p.txt-deco4 Página: 71
                p.txt-deco4 Tipo de plano: unido
                p.txt-deco4 Talla a trabajar: 34
                p.txt-deco4 Contorno de pecho: 86.5cm
                p.txt-deco4 Largo de talle o espalda: 44.4cm
                p.mb-0.txt-deco4 Tipo de papel sugerido: cartón cartulina o cartulina.
        img(src="assets/images/pages/ilustraciones/img68.png", style="max-width: 100%").img-fluid.img-a
        p Recuerde que los básicos superiores siempre se trabajan partiendo desde un rectángulo e identificando los siguientes puntos:
        .row.mt-4.justify-content-center
            .col-10.bg-color11
                p Parte superior (cuello) – arriba, parte inferior (cintura) – abajo = de arriba hacia abajo
                p.mb-0 Parte derecha – posterior, parte izquierda – delantero = de atrás hacia adelante
        p.mt-4 El rectángulo siempre se traza con las medidas más protuberantes correspondientes a la talla:
        .row.mt-4.justify-content-center
            .col-10.bg-color11
                p Ancho: P/2+6cm
                p.mb-0 Largo: largo de talle o espalda
        .row.mt-5
            .col-2.text-center
                img(src="assets/images/pages/ilustraciones/img9.svg", style="max-width: 100%").img-fluid
            .col-10
                p Para lograr apropiar la metodología desde el inicio se sugiere ir bautizando cada línea que se traza con la parte del cuerpo que se está trabajando, esto ayudará a entender el paso de la figura 3D (cuerpo, persona) al plano 2D (trazo)
                p.mb-0 Para el desarrollo de la base se sugiere seguir el paso del trazo de básicos superiores masculino, ajustando o aplicando las medidas de las fórmulas para la base sastre masculina.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/b3g9qtFgeLM', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')