.container#patronaje3

    .jumbotron.bg-white.shadow.mt-6
        .header-ecored.mt-0
            h1 3. Patronaje básico línea femenina
        p Todas las unidades que se han trabajado se van articulando en el #[b fortalecimiento técnico del manejo de vocabulario, comprensión de patronaje y manejo de elementos como curvas y formas del cuerpo]; sin embargo, cada vez más #[b se irá subiendo el nivel de dificultad] frente al desarrollo y complejidad del análisis de las prendas. 
        p En femenino #[b el manejo de volúmenes es uno de los principales factores diferenciadores], en el desarrollo de prendas son las pinzas y sistemas de ajustes, los cuales #[b se convierten en protagonistas principales de esta unidad], debe tener en cuenta que sin importar la línea que se trabaje la metodología del manual y los pasos siempre serán los mismos, #[b este orden secuencial le permite tener una mayor y mejor apropiación de la metodología].
        .row.mt-5.align-items-center.justify-content-center
            .col-12.col-md-5.bg-color1
                h2 Pasos del patronaje – Implementación de básicos y desarrollo de modelos
                ol
                    li.mb-3 Básicos.
                    li.mb-3 Interpretación.
                        p.mb-0.mt-3 Desahogos – Contorno. Largos y anchos.
                        p.mb-0 Sistema de ajuste (pinzas).
                        p.mb-0 Sistema de cierre.
                    li.mb-3 Complementos.
                    li.mb-3 Señalización.
                    li.mb-0 Despiece.
            .col-12.col-md-5.text-center.mt-4.mt-md-0
                img(src="assets/images/pages/ilustraciones/img69.png", style="max-width: 100%").img-fluid
        .hr
        #31
        .header-ecored
            h2 3.1 Traslados de pinza correctiva de talles
        p El básico superior está compuesto por #[b parte delantera y parte posterior, la unión de estos básicos por línea de cintura genera o permite identificar desniveles anatómicos], los cuales van acorde al comportamiento del cuerpo, en la parte del delantero por los desniveles de cintura se identifica una pinza, dicha pinza recibe el nombre de pinza correctiva de talle o pinza de talle, #[b esta pinza es un punto de referencia principal para generar volúmenes] o ajustes sobre el cuerpo.
        .row.mt-4.align-items-center
            .col-2.text-right
                img(src="assets/images/pages/ilustraciones/img3.svg", style="max-width: 100%; position: absolute; margin: -40px; z-index: 2").img-fluid
            .col-10.bg-color11
                p.mb-0 En general, todas las bases superiores sin importar la línea que maneja dicha pinza, la diferencia en la base femenina es por el volumen de busto, el cual permite que dicha pinza sea más notoria.
        p.mt-4 En algunos casos por construcción dicha pinza queda invisible o imperceptible al ojo en el producto final; sin embargo, en algunos otros casos se identifica o se hace más notorio el manejo de dicha pinza. La pinza correctiva de talle permite ser trasladada o llevada a diferentes puntos del cuerpo, permitiendo así acentuar volúmenes, generar siluetas o estructuras que permiten modificar diseños.
        img(src="assets/images/pages/ilustraciones/img70.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/encNXGtE15Y', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .header-ecored
            h3 3.1.1 Análisis y trazo de sistema de ajuste (pinzas y cortes)
        p Dentro del desarrollo de moldes y patrones #[b se hace indispensable el manejo de pinzas como sistema de ajuste o como insumo principal] para el manejo de volúmenes; #[b las pinzas en femenino son un punto de partida primordial y específico], el cual es necesario comprender desde la base funcional, estructural y matemática.
        .row.mt-4.align-items-center
            .col-12.col-md-6
                p Para comprender el funcionamiento de las pinzas se trabajará únicamente la parte superior femenina, #[b contemplando la circunferencia y el volumen del busto], de igual manera el contorno de cintura y el contorno de cadera, #[b cada uno de estos contornos maneja características como volúmenes más protuberantes de los tops o los bottoms] y punto unión o encuentro entre la división del cuerpo.
            .col-12.col-md-6.text-center
                .row
                    .col-12.bg-color16
                        p En el manejo de pinzas únicamente se trabajará con los contornos relevantes o que se toman como punto de partida para la construcción de básicos.
                        .hr2
        .row.justify-content-center.my-4
            .col-9.bg-color5
                p.text-center.mb-0 Contorno de busto – contorno de cintura – contorno de cadera
        p Sin importar el tipo de prenda, #[b los desahogos o la interpretación, las pinzas como sistema de ajuste siempre se trabajarán sobre esos contornos debido a que son los contornos con los que se trabaja la base o el básico]. Siendo así, para el manejo de pinzas se debe tener en cuenta que:
        .row.mt-5.justify-content-center
            .col-10.bg-color12
                .row.justify-content-center
                    .col-11.bg-color13
                        img(src="assets/images/pages/ilustraciones/img10.svg", style="max-width: 100%").img-fluid.img-a
                        .row.justify-content-center.mb-4
                            .col-10.text-center.bg-color14
                                h3.mb-0 Prendas superiores ajuste por cintura:
                                p.mb-0 Contorno de busto (medida base) - (menos)
                                p.mb-0 Contorno de cintura (medida más pequeña ajustar)
                        .row.justify-content-center.mb-4
                            .col-10.text-center.bg-color14
                                h3.mb-0 Prendas superiores ajuste por cadera:
                                p.mb-0 Contorno de busto (medida base) - (menos)
                                p.mb-0 Contorno de cadera (medida más protuberante)
                        .row.justify-content-center.mb-4
                            .col-10.text-center.bg-color14
                                h3.mb-0 Prendas inferiores ajuste por cintura:
                                p.mb-0 Contorno de cadera (medida base) - (menos)
                                p.mb-0 Contorno de cintura (medida más pequeña ajustar)
        .row.mt-4.align-items-center
            .col-12.col-md-6.text-center
                img(src="assets/images/pages/ilustraciones/img72.png", style="max-width: 100%").img-fluid
            .col-12.col-md-6.mt-4.mt-md-0
                p Todos los volúmenes o manejos de pinza dependen del tipo de silueta, #[b drop o ADN de marca], es decir, el ancho y profundidad de la pinza se plantea a partir de dicho análisis. #[b La variedad de cortes en los patrones hace que realce en particular alguna parte del cuerpo o realce el contraste de materiales, un corte en la cintura, busto, entre otros, sea en dirección horizontal o vertical], mejora la horma de la prenda cuya finalidad es resaltar en mayor medida la estética de las proporciones de la figura femenina.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Tq_3F32nynw', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #32
        .header-ecored
            h2 3.2 Trazo de blusa femenina
        p Para el desarrollo de los planos del manual de patronaje #[b SENA siempre se debe partir de las bases o básicos que se han desarrollado en componentes anteriores, con el fin de apropiar el análisis del manual], todo se irá desarrollando dentro del marco de la metodología SENA, en la cual se irán encontrando guías o ejemplos con la implementación de cada uno de los pasos del patronaje.
        .row.mt-4.align-items-center
            .col-12.col-md-6.text-center
                img(src="assets/images/pages/ilustraciones/img73.png", style="max-width: 100%").img-fluid
            .col-12.col-md-6.mt-4.mt-md-0
                p Para el trazo de la blusa con almilla con cuello camisero en la página 39 del manual encontrará un plano de referencia, en el #[b plano identificará elementos como desahogos, traslado de pinza correctiva de talle, sistema de cierre y complementos (almillas, bolsillo de parche)], este plano es solo una guía o una referencia de cómo se puede implementar la base, #[b no hace referencia a especificaciones o estándares para el trazo de una blusa, debe tener en cuenta que cada prenda, diseño, referencia, dibujo plano, ficha técnica o imagen] tiene unas referencias específicas, las cuales van de la mano con todos los conceptos de diseño o requerimientos que se entregan para producción.
        img(src="assets/images/pages/ilustraciones/img74.png", style="max-width: 100%").img-fluid.img-a
        .row.mt-4.align-items-center
            .col-12.col-md-6.text-center
                img(src="assets/images/pages/ilustraciones/img75.png", style="max-width: 100%").img-fluid
            .col-12.col-md-6.mt-4.mt-md-0
                p Con el fin de referenciar y contextualizar la implementación, recuerde que, aunque en el manual se identifica un plano separado se sugiere trabajar siempre en plano unido, con el fin de validar medidas como largos o proporciones referenciados en el plano.
                p.mb-0 Para el trazo del plano desde los básicos se debe iniciar trazando una línea de referencia, en el caso de las bases superiores se traza una línea de manera horizontal en el papel, sobre la cual quedará alineados o aplomados desde la línea base de construcción; en prendas superiores la línea de aplome o línea base será la línea de profundidad de sisa.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/euVdaqaTQlY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .row.mt-5.justify-content-center
            .col-10.bg-color9
                p.mb-0 Las blusas femeninas presentan variedad, igualmente en los sistemas de ajustes se puede #[b eliminar pinzas, crear cortes, además diferencias en cuellos, largos de manga y puños, y complementos como golas], lo cual aumenta la complejidad en el desarrollo del patronaje. Al tener en cuenta lo anterior, el patronista debe analizar el material a trabajar para acertar en la aplicación de desahogos.
        .hr
        #33
        .header-ecored
            h2 3.3 Trazo de escotes y tipos de cuellos
        .row
            .col-10
                p Cuando se habla de cuellos, lo primero que se debe tener en cuenta es la base y forma de cada escote, es decir, si se habla de la parte funcional del cuello, el cuello es una extensión o pieza adicional que se une a un escote, tanto delantero como posterior.
                p.mb-0 Los escotes son modificaciones o “desahogos” que se dan desde el básico, dependiendo el requerimiento del diseño, los escotes se componen por:
            .col-2.text-center
                img(src="assets/images/pages/ilustraciones/img9.svg", style="max-width: 100%").img-fluid
        .row.justify-content-center.my-4
            .col-9.bg-color5
                p.text-center.mb-0 ANCHO Y LARGO
        p Los anchos son las medidas que se dan por hombro, desde el punto de cuello hombro, hacia el punto de acromio o por el recorrido de hombro.
        img(src="assets/images/pages/ilustraciones/img76.png", style="max-width: 100%").img-fluid.img-a
        p Los largos son aquellos que se dan por centros, bien sea centro frente o centro atrás.
        img(src="assets/images/pages/ilustraciones/img77.png", style="max-width: 100%").img-fluid.img-a
        p Los escotes reciben el nombre de su forma, es decir, en el momento en que se une el punto de ancho y el punto del largo en la parte delantera o posterior, se bautiza o asigna el nombre del escote. Algunos nombres son:
        img(src="assets/images/pages/ilustraciones/img78.png", style="max-width: 100%").img-fluid.img-a
        img(src="assets/images/pages/ilustraciones/img79.png", style="max-width: 100%").img-fluid.img-a
        p Los nombres de la forma varían de acuerdo con el entorno comercial, así que lo más relevante es la parte técnica del funcionamiento o la lógica de cómo debe quedar la prenda sobre el cuerpo.
        .row.my-5.justify-content-center
            .col-10.bg-color12
                p Cabe resaltar la importancia del #[b manejo de la profundidad del escote, a su vez coordine con el diseño requerido y no afecte la funcionalidad de la prenda]. En la confección de los escotes se debe controlar la medida de contorno, en la operación de la máquina por el arrastre o la manipulación generada por el operario. En mención de lo anterior, #[b se debe plantear la mejor opción de pieza para cubrir el orillo del material textil en el escote, como son los falsos y el sesgo], además definir el ancho para tener en cuenta en el desarrollo de la operación de confección. Para el uso de falsos se debe analizar y plantear las entretelas acordes con el material textil a confeccionar.
        p Para el trazo de cuellos se va trabajando bajo el contexto funcional y no comercial, todos los cuellos en patronaje se dividen en tres grandes grupos:
        img(src="assets/images/pages/ilustraciones/img80.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/xjSPGOWXJw0', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #34
        .header-ecored
            h2 3.4 Trazo de chaqueta tipo sastre
        .row.align-items-center
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img81.png", style="max-width: 100%").img-fluid
            .col-12.col-md-8.mt-4.mt-md-0
                p Para el desarrollo de los planos del manual de patronaje #[b SENA] siempre se debe partir de las bases o básicos que se han desarrollado en componentes anteriores, con el fin de apropiar el análisis del manual, #[b todo se irá desarrollando dentro del marco de la metodología SENA], en la cual se irán encontrando guías o ejemplos con la implementación de cada uno de los pasos del patronaje.
                .row
                    .col-12.bg-color8
                        p … identificará elementos como desahogos, traslado de pinza correctiva de talle, sistema de ajuste (corte francés) sistema de cierre...
        p.mt-4 Para el trazo de chaqueta cuello sastre en la página 40 del manual encontrará un plano de referencia, en el plano #[b identificará elementos como desahogos, traslado de pinza correctiva de talle, sistema de ajuste (corte francés) sistema de cierre], este plano es solo una guía o una referencia de cómo se puede implementar la base, no hace referencia a especificaciones o estándares para el trazo de una chaqueta tipo sastre o con cuello sastre, debe #[b tener en cuenta que cada prenda, diseño, referencia, dibujo plano, ficha técnica o imagen tiene unas referencias específicas], las cuales van de la mano con todos los conceptos de diseño o requerimientos que se entregan para producción.
        img(src="assets/images/pages/ilustraciones/img82.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/B7qyE5ySUII', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #35
        .header-ecored
            h2 3.5 Trazo de manga y cabezas de manga
        p Cuando se habla de manga, básicamente se entiende o identifica como una pieza circular que cubre el brazo; sin embargo, existen diferentes tipos de puntos para tener en cuenta:
        .row.mt-4.align-items-center
            .col-2.text-right
                img(src="assets/images/pages/ilustraciones/img3.svg", style="max-width: 100%; position: absolute; margin: -40px; z-index: 2").img-fluid
            .col-10.bg-color15
                p.mb-0 #[b Largo de manga:] el largo de manga anatómico es aquel que va desde el punto de acromio hasta la muñeca, se debe tener en cuenta que, sin importar el diseño, largo o forma del cuerpo de la manga, siempre se debe partir desde el largo anatómico.
        .row.mt-4.align-items-center
            .col-2.text-right
                img(src="assets/images/pages/ilustraciones/img3.svg", style="max-width: 100%; position: absolute; margin: -40px; z-index: 2").img-fluid
            .col-10.bg-color15
                p.mb-0 #[b Altura o cabeza de manga:] cuando se habla de cabeza de manga se identifican diferentes tipos de medidas, se puede trabajar con medida de cuadro de tallas, medida deducida o estandarizada.  Se debe tener en cuenta que el largo de manga siempre será el mismo, sin importar qué tipo de prenda o cabeza de manga se implemente.
        .row.mt-4.align-items-center
            .col-2.text-right
                img(src="assets/images/pages/ilustraciones/img3.svg", style="max-width: 100%; position: absolute; margin: -40px; z-index: 2").img-fluid
            .col-10.bg-color15
                p #[b Comportamiento de cabeza de manga:] entre más larga sea la altura de cabeza de manga otorgará menor movimiento sobre el cuerpo = incomodidad, pero mayor estructura, esta descripción corresponde a las prendas que van ajustadas o con la horma del cuerpo.
                p.mb-0 Entre más corta sea la altura de cabeza de manga otorgará mayor movimiento sobre el #[b cuerpo = comodidad], pero menor estructura, esta descripción corresponde a las prendas que van holgadas o desestructuradas sobre el cuerpo.
        p.mt-4 Básicamente si está descripción se divide o se categoriza en prendas de vestir se estaría diciendo que:
        .row.mt-5.justify-content-center
            .col-10.bg-color9
                p.txt-deco5 Entre más corta sea la cabeza de manga, corresponde a prendas #[B DEPORTIVAS].
                p.txt-deco5 Entre más larga sea la cabeza de manga, corresponde a prendas #[B FORMALES].
                p.mb-0.txt-deco5 Un punto intermedio entre las dos anteriores, corresponde a prendas #[B CASUALES].
        img(src="assets/images/pages/ilustraciones/img83.png", style="max-width: 100%").img-fluid.img-a
        p #[span.txt-deco2 Cabeza de manga por cuadro de tallas:] las cabezas de manga de los cuadros de tallas suelen ser categorizadas para prendas casuales, la medida se identifica en el cuadro de tallas, este tipo de cabeza de manga es estandarizada, no se tiene en cuenta el comportamiento sobre el cuerpo y el tipo de prenda.
        img(src="assets/images/pages/ilustraciones/img84.png", style="max-width: 100%").img-fluid.img-a
        p #[span.txt-deco2 Cabeza de manga por medida deducida:] las cabezas de manga por medida deducida salen según el tipo de plano y línea que se trabaje, es decir, que cada vez que se esté trazando un plano, sobre ese plano con la medida de recorrido de sisa delantera y sisa posterior se identifica la cabeza de manga, la sumatoria de esas dos medidas son divididas de acuerdo con el tipo de prenda para identificar la cabeza de manga.
        .row.mt-5.justify-content-center
            .col-10.bg-color12
                .row.justify-content-center
                    .col-11.bg-color13
                        img(src="assets/images/pages/ilustraciones/img10.svg", style="max-width: 100%").img-fluid.img-a
                        .row.justify-content-center.mb-4
                            .col-10.text-center
                                p.txt-deco4 Cabeza de manga deportiva = sisa delantera + sisa posterior / 5
                                p.txt-deco4 Cabeza de manga casual = sisa delantera + sisa posterior / 4
                                p.mb-0.txt-deco4 Cabeza de manga sastre o formal = sisa delantera + sisa posterior / 3
        p.mt-6 #[span.txt-deco2 Cabeza de manga estandarizada:] las cabezas de manga estandarizadas suelen ser medidas que, sin explicación alguna, son entregadas para el desarrollo de las prendas.
        p Para el desarrollo, trazo o marcación de cabeza de manga existen infinidad de formas, fórmulas o metodologías; sin embargo, la clasificación anterior hace referencia a lo que se trabaja en el manual, en cualquier línea. Sin importar el tipo de línea es importante que tenga en cuenta siempre la lógica del comportamiento de las cabezas de manga, según tipo de prenda.
        p En la página N°26 del manual (Línea femenina) se identifica otro tipo de forma para sacar o deducir la altura de cabeza de manga.
        img(src="assets/images/pages/ilustraciones/img98.png", style="max-width: 100%").img-fluid.img-a
        p En la página N°44 del manual (Línea femenina) se identifica otro tipo de forma para sacar o deducir la altura de cabeza de manga.
        img(src="assets/images/pages/ilustraciones/img99.png", style="max-width: 100%").img-fluid.img-a
        p En la página N°67 y N°70 del manual (Línea masculina) se identifica otro tipo de forma para sacar o deducir la altura de cabeza de manga.
        img(src="assets/images/pages/ilustraciones/img100.png", style="max-width: 100%").img-fluid.img-a
        img(src="assets/images/pages/ilustraciones/img101.png", style="max-width: 100%").img-fluid.img-a
        p En la página N°86 del manual (Línea infantil) se identifica otro tipo de forma para sacar o deducir la altura de cabeza de manga.
        img(src="assets/images/pages/ilustraciones/img102.png", style="max-width: 100%").img-fluid.img-a
        p Cada una de estas fórmulas corresponden a medidas deducidas, #[b quiere decir que siempre que usted vaya a trazar una cabeza de manga], lo primero que debe analizar es el comportamiento y la funcionalidad sobre el cuerpo, lo importante es que el comportamiento de la cabeza de manga sobre el cuerpo sea equivalente al diseño o prenda que se va a trabajar.
        .imgTopBar.mt-5
            .row.justify-content-around.align-items-center
                .col-8.mb-3.mb-md-0
                    img(src="assets/images/pages/icons/icon_pdf.svg", alt="", style="7px")
                    p.d-inline.mb-0.ml-2 Manual de patronaje básico e interpretación de diseños
                .col-auto.imgTopBarButton.shadow
                    a(href="media/documentos/Anexo1.pdf", target="_blank").imgTopBar_link 
                        .row 
                            .col-auto                   
                                p.d-inline(style="margin-right:10px") Ver PDF
        .list.align-items-star.ml-4.mt-4
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
            .list__txt
                p #[b Trazo de cabeza de manga:]
                p Para poder trabajar los diferentes tipos de trazos y curvas de cabezas de manga se sugiere tomar los planos de blusa con almilla – página 39 y chaqueta con cuello sastre – página 40, con el fin de analizar y trabajar diferentes formas de sacar o trazar cabeza de manga; para poder trazar las cabezas de manga se sugiere tener las siguientes medidas:
                .row.mt-5.justify-content-center
                    .col-10.bg-color9
                        p.text-center #[b Recorrido sisa delantera] (medidas que salen del plano)
                        p.text-center #[b Recorrida sisa posterior] (medidas que salen del plano)
                        p.text-center #[b Tipo de cabeza de manga]
                        p.text-center.mb-0 #[b Largo de manga]
                p.mt-4 En el desarrollo de curvas y trazos en las cabezas de manga existen varias formas de trazarlas, las implementadas y guiadas en el video hacen referencia a un acercamiento general de todos los trazos del manual.
        .list.align-items-star.ml-4.mt-2
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list.svg").img-fluid  
            .list__txt
                p #[b Trazo de manga:]
                p Debe tener en cuenta que el trazo de manga y las medidas de las sisas dependen del trazo de la prenda o diseño a trabajar, es decir, que siempre en este punto las mangas hacen parte de los complementos en los pasos del patronaje.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/EAl_FBfkYUE', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        .header-ecored
            h3 3.5.1 Interpretación de mangas.
        p Para profundizar en los conceptos y detalles trabajados en el trazo de mangas se hará el análisis de diferentes diseños desde dibujo plano e imagen, con el fin de tener referencias visuales de lo que se va trabajando, se tendrán varias imágenes de referencia, en este punto y con la firme intención de afianzar cada vez más el conocimiento, se implementará una serie de cortes, traslados y aumentos que irán generando volúmenes o estructuras diferentes sobre el cuerpo, todo partiendo desde el desarrollo del trazo base de manga.
        .row.align-items-center
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img85.png", style="max-width: 100%").img-fluid
            .col-12.col-md-8.mt-4.mt-md-0
                p El resultado de la interpretación de mangas es la combinación de varias características, las cuales como patronista debe analizar para plantear la mejor opción para desarrollar el patronaje de la manga según el diseño planteado, por ejemplo, #[b una manga puede presentar una recogido en la cabeza de manga, usted debe plantear y desarrollar el recogido], especificando la cantidad de medida a recoger y desde dónde inicia y termina el recogido. 
                .row
                    .col-12.bg-color5
                        p La finalidad del ejercicio es poder experimentar de qué manera se puede implementar el mismo punto de partida (manga base) hacia diferentes tipos de diseño, bajo una misma tipología.
        img(src="assets/images/pages/ilustraciones/img86.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2a81MoVG6Dg', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #36
        .header-ecored
            h2 3.6 Trazo de falda y modificación de básicos de falda
        p Para profundizar en los conceptos y detalles trabajados en el trazo de faldas se hará el análisis de diferentes diseños desde imagen, con el fin de tener referencias visuales de lo que se va trabajando, se tendrán varias imágenes de referencia, en este punto y con la firme intención de afianzar cada vez más el conocimiento, se hará o trabajará todo sobre análisis de proporciones.
        .row.align-items-center
            .co-12.col-md-8
                p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, #[b es importante resaltar que las medidas y el análisis de proporciones varía de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida], las referencias implementadas son solo ejemplos detallados de cómo y qué manera se debe implementar el desarrollo.
            .col-12.col-md-4
                .row
                    .col-12.bg-color16
                        p La finalidad del ejercicio es poder comparar de qué manera se puede implementar el básico llevándolo hacia diferentes tipos de diseño, bajo una misma tipología.
                        .hr2
        img(src="assets/images/pages/ilustraciones/img87.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/xtyPQh3vtuc', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        p.mt-4 En este tipo de prendas es importante tener en cuenta el tipo de pretina sea acorde al diseño, así mismo, su ancho con el fin de mejorar la horma en la figura femenina.
        .header-ecored
            h3 3.6.1 Trazo de faldas rotondas
        .row
            .col-2.text-center
                img(src="assets/images/pages/ilustraciones/img8.svg", style="max-width: 100%").img-fluid
            .col-10
                p Para profundizar en los conceptos y detalles trabajados en el trazo de faldas se hará el análisis de diferentes diseños desde imagen, con el fin de tener referencias visuales de lo que se va trabajando, #[b se tendrán varias imágenes de referencia, en este punto y con la firme intención de afianzar cada vez más el conocimiento], se implementará una serie de términos técnicos que irán generando diferentes volúmenes o estructuras sobre el cuerpo.
                p El patronista debe interpretar el vuelo requerido del diseño de la faldas rotondas y a su vez la tela a utilizar, con el fin de que se desarrolle de manera correcta, y no presenten inconvenientes en el proceso de corte. #[b La finalidad del ejercicio es poder experimentar de qué manera se puede implementar el mismo punto de partida] (falda) hacia diferentes tipos de resultados, bajo una misma tipología.
        img(src="assets/images/pages/ilustraciones/img88.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/NxZQL369p9Q', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #37
        .header-ecored
            h2 3.7 Trazo de vestido de noche
        .row.align-items-center
            .col-12.col-md-8
                p Para profundizar en los conceptos y detalles trabajados en el trazo de prendas superiores e inferiores se hará el #[b análisis de diferentes diseños desde imagen y plano, con el fin de tener referencias visuales de lo que se va trabajando, se tendrán varios puntos]. El desarrollo de diseños tiene como objetivo principal afianzar cada vez más el conocimiento bajo el análisis de proporciones y requerimientos de las prendas.
                p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, #[b es importante resaltar que las medidas y el análisis de proporciones varían de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida], las referencias implementadas son solo ejemplos detallados de cómo y de qué manera se debe implementar el desarrollo.
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img89.png", style="max-width: 100%").img-fluid
        .row.align-items-center.mt-4
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img90.png", style="max-width: 100%").img-fluid
            .col-12.col-md-8.mt-4.mt-md-0
                p El vestido, prenda fundamental para el uso en ocasiones tanto casuales como formales, en este caso, #[b se hace hincapié en los vestidos de noche], los cuales se reconocen como requisito en normas de etiqueta de vestir, en los eventos de la mencionada jornada. #[b Los vestidos resaltan en mayor medida las curvas de las féminas siempre y cuando guarde coherencia con la elegancia de la prenda, que es su rasgo primordial]. Los sistemas de ajuste como cortes y pinzas, amplitudes, además de sistemas de cierre deben coordinar con el diseño presentado y sus proporciones. #[b Los largos de los vestidos de noche merecen atención] en el desarrollo del patronaje sobre todo en lo relacionado con las especificaciones en el corte.
                .row
                    .col-12.bg-color5
                        p #[b La finalidad del ejercicio es poder aplicar todo el conocimiento y manejo de conceptos adquiridos hasta el momento, llevando la implementación de los básicos hacia diferentes tipos de prendas.]
        img(src="assets/images/pages/ilustraciones/img91.png", style="max-width: 100%").img-fluid.img-a
        img(src="assets/images/pages/ilustraciones/img92.png", style="max-width: 100%").img-fluid.img-a
        img(src="assets/images/pages/ilustraciones/img93.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/PSo48U9qR7s', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #38
        .header-ecored
            h2 3.8 Interpretación de prendas inferiores
        p Para profundizar en los conceptos y detalles trabajados en el trazo de pantalón se hará el análisis de un diseño desde imagen, con el fin de tener una referencia visual de lo que se va trabajando. #[b El desarrollo de diseños tiene como objetivo principal afianzar cada vez más el conocimiento bajo el análisis de proporciones y requerimientos de las prendas].
        p Las proporciones son medidas que se obtienen de una imagen, muestra física, ficha técnica, dibujo plano o diseño, que al hacer un paralelo con los básicos o moldes bases de la línea, silueta o talla que se esté trabajando, permite obtener medidas o dimensiones de referencia para el desarrollo o trazo del molde correspondiente al diseño, si bien en ocasiones anteriores se han desarrollado ejercicios sobre análisis de proporciones, #[b es importante resaltar que las medidas y el análisis de proporciones varían de acuerdo al tamaño, diseño, impresión, dibujo, básico y sistema de medida, las referencias implementadas] son solo ejemplos detallados de cómo y de qué manera se debe implementar el desarrollo.
        img(src="assets/images/pages/ilustraciones/img94.png", style="max-width: 100%").img-fluid.img-a
        .row.align-items-center.mt-4
            .col-12.col-md-4.text-center
                img(src="assets/images/pages/ilustraciones/img95.png", style="max-width: 100%").img-fluid
            .col-12.col-md-8.mt-4.mt-md-0
                p Cabe examinar ahora, conforme el desarrollo de los diseños, la interpretación para dar a la prenda confort y ajuste, #[b cualidades importantes a la hora de desarrollar el patronaje en partes como la cintura y cadera]. En el caso de la cintura se realizan moldes de pretinas anatómicas que ajusten esta parte del cuerpo. En el caso de la cadera, en el lado del tiro posterior se han desarrollado técnicas para mejorar la horma de la prenda.
                .row
                .col-12.bg-color6
                    p.mb-0 La finalidad del ejercicio es poder aplicar todo el conocimiento y manejo de conceptos adquiridos hasta el momento, llevando la implementación de los básicos hacia diferentes tipos de prendas.
                img(src="assets/images/pages/ilustraciones/img96.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/K2SbwvDv7eA', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr
        #39
        .header-ecored
            h2 3.9 Interpretación de overoles
        p #[b Los overoles o también llamados por su uso casual para las mujeres como enterizos han cobrado especial desarrollo en la línea femenina], creando diseños multifuncionales. #[b Una de las medidas de especial atención por el patronista es el tiro], el cual debe verificarse conforme a la metodología planteada y teniendo en cuenta el material a usar. El patronista debe analizar la horma necesaria para que corresponda con el diseño planteado, aplicando los desarrollos de las piezas en amplitudes o ajustes dado el caso.
        img(src="assets/images/pages/ilustraciones/img97.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/7-1zgETyZuQ', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')