.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Bidimensional:
            | que se representa según su altura y su anchura, y no su profundidad.  
        
        p
            strong.mr-2 Diseño:
            | actividad creativa orientada a soluciones idóneas a ciertas problemáticas.
        p 
            strong.mr-2 Moda:	
            | hábito repetitivo que identifica a una persona, una especie de presión social, que debe consumir, utilizar o hacer.

        p 
            strong.mr-2 MoodBoard:
            | su traducción literal es mapa de inspiración y aunque su uso está muy asociado al ámbito de la decoración de interiores o la moda, realmente se utiliza en entornos creativos muy diversos, desde el diseño de productos o servicios al audiovisual o el diseño gráfico.

        p 
            strong.mr-2 Pirognóstico:
            | ensayo sin componentes reactivos, quiere decir, reconocimiento de los componentes, mediante la aplicación adecuada del fuego.

        p 
            strong.mr-2 Software:
            | término informático que hace referencia a un programa o conjunto de programas de cómputo, así como datos, procedimientos y pautas que permiten realizar distintas tareas en un sistema informático. 

        p
            strong.mr-2 Tipología:
            | estudio de los tipos o modelos que se usan para clasificar en diversas ciencias o disciplinas

        p
            strong.mr-2 Vectores:
            | en Software de diseño, son líneas que se crean y permiten, expandir, modificar, a el tamaño que sea sin pixelarse por que se unen por coordenadas matemáticas del programa y no se generan por números fijos.
