.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Gutiérrez Rengifo, Lucy Alejandra, Moncayo Velazco, Adriana Ximena Instructora, Tanaka, Kenji Instructora, Kimura, Funiyo Experta, and Moreno Brand, Diana Coordinadora. Manual De Patronaje Básico E Interpretación De Diseños. Bogotá: SENA, Japan Inernational Cooperation Agency "jica", 2011. Print.

                    td Libro
                    td 
                        a(href="https://drive.google.com/file/d/18jpzqbMCPtoXlPl2Oy6PrDHEa_Nw9vOp/view?usp=sharing", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                                   